@using NHS111.Models.Models.Web
@model OutcomeViewModel

@if (!Model.DosCheckCapacitySummaryResult.ResultListEmpty)
{
    var recommendedService = Model.RecommendedService;
    <div>
        @Html.Partial(new ServiceTypeMapping(recommendedService.OnlineDOSServiceType).TypeViewName, Model)
    </div>
    if (recommendedService.ShouldShowServiceTypeDescription() || @recommendedService.IsSarcService)
    {
        <div class="measure">
            <p>
                @if (@recommendedService.IsSarcService)
                {
                    @recommendedService.SARCServiceTypeDescription
                }
                else
                {
                    @recommendedService.ServiceTypeDescription
                }
            </p>
        </div>
    }
}