@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.OtherServicesViewModel>

@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    //set this here since this property is used to pass through to each partial
    //further down.  Need this to always be the ACTUAL recommended service.
    var recommendedService = Model.RecommendedService;

}

@section Title {
    NHS 111 - Other services
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/recommendedservice/otherservices/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': 'Other Services Found'
        }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "other-services"));
    dataDictionary.Add(new KeyValuePair<string, object>("OtherServicesChangePostcode", "true"));
    var previousAction = Model.IsEmergencyPrescriptionOutcome ? "RecommendedService" : "DispositionWithServices";
}

@section FeedbackSection {
    @*this addition for IsAccidentAndEmergencySexualAssault is a hack for dx94*@
    @if (!SurveyLinkFeature.IsEnabled || (!Model.OutcomeGroup.IsPharmacy && !Model.OutcomeGroup.IsAccidentAndEmergencySexualAssault))
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.ServiceList, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<div class="nhsuk-core">
    @using (Html.BeginForm(previousAction, "Outcome", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model, new ViewDataDictionary { { "OtherServicesBack", true } })
        @Html.Partial("_CommonHiddenFieldsRecommendedServiceViewModel", recommendedService, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "RecommendedService" } })
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        <button class="button--link search__button--back" data-event-trigger="click" data-event-value="Other services back">Back</button>
    }

    <div class="measure">
        @if (Model.OutcomeGroup.IsPharmacy)
        {
            <h1>Services that can help</h1>
        }
        else
        {
            <h1>Other ways to get help</h1>
        }
        @Html.Partial("_TimingInfo", Model)
    </div>
    <div class="measure">
        @if (!Model.OutcomeGroup.IsPharmacy)
        {
            @Html.Partial("_ChangePostcode", Model, dataDictionary)
        }
    </div>
    <div class="other-services">
        @foreach (var service in Model.OtherServices)
        {
            Model.RecommendedService = service;
            <details class="service-listing" @(Model.OtherServices.Count() == 1 ? "open" : "")>
                <summary data-event-trigger="click" data-event-value="@string.Format("Service {0}", WebUtility.HtmlDecode(service.PublicName))">
                    <p>
                        @Html.Raw(service.GetOtherServicesServiceDisplayHtml(Model.OutcomeGroup))
                    </p>
                    @if (service.OnlineDOSServiceType.Equals(OnlineDOSServiceType.PublicPhone) || service.OnlineDOSServiceType.Equals(OnlineDOSServiceType.Callback))
                    {
                        <p class="service-listing__info">Telephone service</p>
                    }
                    else
                    {
                        <p class="service-listing__info">@WebUtility.HtmlDecode(service.Distance) miles away</p>
                    }
                    <span class="service-listing__toggle--hide">Hide</span>
                    <span class="service-listing__toggle--show">More information</span>
                </summary>
                @Html.Partial(new ServiceTypeMapping(service.OnlineDOSServiceType).TypeViewName, Model, new ViewDataDictionary { { "IsOtherService", bool.TrueString } })
            </details>
        }
    </div>

    @Html.Partial("_PharmacyFooterInformation")

    @Html.Partial("_FindPharmaciesOnNHSUK")

    @if (!Model.IsEmergencyPrescriptionOutcome)
    {
        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6" />
    }
    <div class="measure">
        @Html.Partial("_rs_CareAdvice", Model.CareAdvices)
    </div>
    <div class="measure nhsuk-u-margin-top-4">
        @Html.Partial("_rs_WorseningAdvice", Model)
    </div>
</div>