@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    /**/

    ViewBag.Title = "RecommendedService";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/recommendedservice/{3}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.RecommendedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Recommended service'
            }];
    </script>
}
@section Title { NHS 111 - Recommended Service }
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "recommended-service"));
}
@section SurveyBanner{
    @if (!Model.RecommendedService.OnlineDOSServiceType.IsReferral)
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink, dataDictionary)
    }
}
@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.ServiceFirstRecommendedService, Model) })
}
<div class="nhsuk-core">
    <div class="measure">
        <h1>Where to get help</h1>
        @Html.Partial("_TimingInfo", Model)
    </div>
    <div class="measure">
        @Html.Partial("_CovidEliminator", Model)
    </div>
    @Html.Partial("_DoSRecommendedService", Model)
    <!--BOILER PLATE-->
    <div class="measure">
        @Html.Partial("_ServiceWhy", Model)
    </div>
    <div class="measure nhsuk-u-margin-top-4">
        @Html.Partial("_ChangePostcode", Model)
    </div>
    @if (Model.DosCheckCapacitySummaryResult.Success.Services.Count > 1)
    {
        dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };
        @Html.Partial("_OtherServices", Model, dataDictionary)
    }
    <div class="measure">
        @Html.Partial("_rs_CareAdvice", Model.CareAdvices)
    </div>
    <div class="measure nhsuk-u-margin-top-4">
        @Html.Partial("_rs_WorseningAdvice", Model)
    </div>
</div>