@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
    var heading = "Where are you now?";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<LocationViewModel>
@section Title {NHS 111 Online - @heading}

@{ ViewBag.Description = "Answer questions about your main symptom on 111.nhs.uk and get NHS medical help near you."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Location',
                'virtualPageTitle': 'Location'
            }];
    </script>
}

<div class="nhsuk-core">
    <h1>@heading</h1>
    <div class="callout callout--info measure nhsuk-u-margin-bottom-6">
        <p>We need to know where you are so we can find services to help.</p>
    </div>

    @using (Html.BeginForm("Find", "Location", FormMethod.Post))
    {
        <div class="form-group nhsuk-u-margin-bottom-6 @(ViewData.ModelState.IsValidField("CurrentPostcode") ? "" : "form-group-error")">
            @Html.LabelFor(m => m.CurrentPostcode, "Postcode")
            @Html.ValidationMessageFor(m => m.CurrentPostcode, "Please enter your current postcode")
            @Html.TextBoxFor(m => m.CurrentPostcode, new { required="required", style = "width: 8em; display: inline-block; margin-right: 10px;" })
            <button class="js-find-location button--link nhsuk-u-margin-top-2" type="button" style="display: none; font-size: 18px;" data-event-trigger="click" data-event-value="Geolocation">Use my current location</button>

            @Html.HiddenFor(m => m.SessionId)
            @Html.HiddenFor(m => m.Campaign)
            @Html.HiddenFor(m => m.FilterServices)
            @Html.HiddenFor(m => m.StartParameter)
            @Html.HiddenFor(m => m.PathwayNo)
            @Html.HiddenFor(m => m.IsCovidJourney)
        </div>

        <button type="submit" class="button--next">Next</button>
    }
</div>

@Html.Partial("_PageLoadingIndicator")
<script type="text/javascript">
    $(document).ready(function () {
        if (navigator.geolocation) $('.js-find-location').css('display', 'inline-block');
        else logEvent(EventTypes.Error, "Geolocation not supported")
    })

    $(".js-find-location").on("click", function () {
        startPageLoadingIndicator('Searching for your current location ...');
        navigator.geolocation.getCurrentPosition(function (pos) {
            var coords = pos.coords.longitude + "," + pos.coords.latitude;
            post('/Location/ConfirmAddress', { "longlat": coords, "SessionId": "@Model.SessionId", "Campaign": "@Model.Campaign", "FilterServices": "@Model.FilterServices", "PathwayNo": "@Model.PathwayNo", "IsCovidJourney": "@Model.IsCovidJourney", "StartParameter" : "@Model.StartParameter" });
        }, showError);
    });

    function showError() {
        stopPageLoadingIndicator();
        logEvent(EventTypes.Error, "Geolocation failed")
        if ($(".js-location-error").length == 0) {
            $("#CurrentPostcode").before('<p class="error-message js-location-error" role="alert">We were unable to find your location. Please enter your current postcode.</p>');
            $(".form-group").addClass("form-group-error")
        }
    }

    function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

</script>
