@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<OutOfAreaViewModel>
@section Title {NHS 111 Online - Out of area}
@section EmergencyAlert{
    @if (EmergencyAlertFeature.IsEnabled)
    {
        @Html.Partial("_EmergencyAlert", new EmergencyAlertViewModel { OverrideDisplay = Model.IsCustomJourney })
    }
}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Out of area',
                'virtualPageTitle': '@Model.Campaign/@Model.Source'
            }];
    </script>
}

<div class="measure">
    <div class="content-block">
        <h1 class="heading--large">111 online is not in this area</h1>
        <p>It is only available in England.</p>
        @using (Html.BeginForm("ChangePostcode", "Location", FormMethod.Get))
        {
            @Html.HiddenFor(m => m.SessionId)
            @Html.HiddenFor(m => m.Campaign)
            @Html.HiddenFor(m => m.FilterServices)
            @Html.HiddenFor(m => m.IsCustomJourney)
            <button type="submit" class="button button--link">Go back</button>
        }
    </div>
</div>
