@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@model  OutcomeViewModel

<div class="alternative-care service-hidden">
    @{
        var result = Model.DosCheckCapacitySummaryResult;
    }
    @if (!Model.UserInfo.CurrentAddress.IsInPilotArea)
    {
        using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            <p>
                There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode) [<button class="button--link" type="submit">Change postcode</button>]
            </p>
            <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
        }
    }
    else if (Model.GroupedDosServices.Any())
    {
        using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            <p>@String.Format("Other services that can help you near {0}", Model.FormattedCurrentPostcode) [<button class="button--link" type="submit">Change postcode</button>]</p>
        }

        <div id="availableServices">
            @foreach (var groupedService in Model.GroupedDosServices)
            {
                var wording = "";
                var partial = "";
                if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.Callback)
                {
                    wording = string.Format("{0}", ViewData.Keys.Contains("CallbackTitle") ? ViewData["CallbackTitle"] : "Arrange for someone to phone you");
                    partial = "_CallbackServices";
                }
                else if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.GoTo)
                {
                    wording = "Visit a service";
                    partial = "_GotoServices";
                }
                else if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.PublicPhone)
                {
                    wording = "Phone a service";
                    partial = "_PublicPhoneServices";
                }

                if (!(Model.OutcomeGroup.Equals(OutcomeGroup.Dental) || Model.OutcomeGroup.Equals(OutcomeGroup.ItkPrimaryCare)) &&
                    Model.GroupedDosServices.Count == 1)
                {
                    <h3>@wording</h3>
                    @Html.Partial(partial, Model, ViewData);
                }
                else
                {
                    <details>
                        <summary>
                            <span class="details__arrow"></span>
                            <span class="summary">@wording</span>
                        </summary>
                        <div>
                            @Html.Partial(partial, Model, ViewData)
                        </div>
                    </details>
                }
            }
        </div>
    }
    else if (result != null && result.ServicesUnavailable)
    {
        using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            <p>
                There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode) [<button class="button--link" type="submit">Change postcode</button>]
            </p>
            <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
        }
    }
</div>