@using NHS111.Models.Models.Web
@model  OutcomeViewModel

<div class="alternative-care service-hidden">
    @{
        var services = Model.DosCheckCapacitySummaryResult.Success.Services;
    }

        @if (services.Any())
        {
            <h3>@Html.Raw((!ViewData.Keys.Contains("Title") ? "If you can't see your GP" : ViewData["Title"]))</h3>
        <div id="availableServices">

           @if (services.FirstOrDefault(s => s.CallbackEnabled) != null) //first service is a call back
            {
                @Html.Partial("_CallbackServices", Model)
                @Html.Partial("_GotoServices", Model)
            }
            else
            {
                @Html.Partial("_CallbackServices", Model)
                @Html.Partial("_GotoServices", Model)
            }
        </div>
        }


    </div>

<script>
    $(function () {
        $("#availableServices").accordion({ collapsible: true, active: 'none' });
    });
</script>
