@using NHS111.Models.Models.Web
@model  OutcomeViewModel

<div class="alternative-care service-hidden">
    @{
        var services = Model.DosCheckCapacitySummaryResult.Success.Services;
    }

    @if (services.Any())
    {
        <h3>@Html.Raw((!ViewData.Keys.Contains("Title") ? "If you can't see your GP" : ViewData["Title"]))</h3>

        //first service is a call back
        if (services.FirstOrDefault(s => s.CallbackEnabled) != null)
        {
            @Html.Partial("_CallbackServices", Model)
            @Html.Partial("_GotoServices", Model)
        }
        else
        {
            @Html.Partial("_CallbackServices", Model)
            @Html.Partial("_GotoServices", Model)
        }
    }


</div>

<script>
    $('.category').click(function () {
        var $this = $(this);

        var $helpTextLinkMessage = $this.parent().next('.content');
        $helpTextLinkMessage.slideToggle("fast");
        var arrow = $this.children(".arrow");
        if (arrow.attr("src") == "/Content/images/blue-arrow-right.png") {
            arrow.attr("src", "/Content/images/blue-arrow-down.png");
        } else {
            arrow.attr("src", "/Content/images/blue-arrow-right.png");
        }
    });
</script>
