@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@if (Model.Any())
{
    if (!ViewData.Keys.Contains("NoHR") || ViewData["NoHR"] == "false") {
        <hr/>
    }
    <div class="care-advice measure">

        <h3 class="heading-medium">@Html.Raw((!ViewData.Keys.Contains("Title") ? "Looking after yourself" : ViewData["Title"]))</h3>
        @foreach (var careAdvice in Model)
        {
            if (careAdvice.Items != null && careAdvice.Items.Any())
            {
                <div>
                    @{
                        var title = careAdvice.Keyword;
                        if (title.Equals("Alert Pandemic"))
                        {
                            title = "Coronavirus (COVID-19)";
                        }
                    }
                    <h4 id="Advice_@careAdvice.Id" class="heading-small">@title</h4>
                    <ul>
                        @foreach (var parent in careAdvice.Items)
                        {
                            <li>
                                @parent.Text
                                @if (parent.Items != null && parent.Items.Any())
                                {
                                    <ul>
                                        @foreach (var child in parent.Items)
                                        {
                                            <li>@child.Text</li>
                                        }
                                    </ul>
                                }
                            </li>

                        }
                    </ul>

                    @Html.Hidden(careAdvice.Id)
                </div>
            }
        }
    </div>
}