@model NHS111.Models.Models.Web.FeedbackViewModel
@{ Model.DateAdded = DateTime.Now; }
@{
    const int maxFeedbackLength = 1200;
    string classes = "";
    if (!Model.ShowOnNhsApp)
    {
        classes = "feedback-hidden";
    }
}

<section class="feedback page-section @classes" id="feedback">
    <hr />
    <details class="measure">
        <summary id="feedback__summary" data-event-trigger="click" data-event-value="Feedback reveal">
            <span class="details__arrow" role="presentation"></span>
            @(String.IsNullOrEmpty(Model.Heading) ? "Help us improve this page" : Model.Heading)
        </summary>
        <div>
            @using (Ajax.BeginForm("SubmitFeedback", "Feedback", new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "feedback-details", LoadingElementId = "loader", HttpMethod = "POST", OnBegin = "$('.feedback form').fadeOut(600);", OnSuccess = "$('#feedback-details').fadeIn(600);"}))
            {
                @Html.HiddenFor(m => m.UserId)
                @Html.Partial("_CommonHiddenFieldsPageDataViewModel", Model.PageData, new ViewDataDictionary() {TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "PageData"}})

                if (Model.PageData != null && !string.IsNullOrEmpty(Model.PageData.StartingPathwayNo) && Model.PageData.IsCoronaJourney)
                {
                    <p>Does it make sense?</p>
                    <p>We only use this feedback to make the service better.</p>
                    <p>Do not leave any personal or contact information. <strong>No one will contact you or reply to requests for medical help.</strong></p>
                    <p>Call 111 if you need to speak to someone.</p>
                }
                else
                {
                    @(String.IsNullOrEmpty(Model.Paragraph) ? null : Html.Raw("<p>" + Model.Paragraph + "</p>"))
                    <p>We use feedback to make these pages better. We don’t check feedback every day and cannot reply or pass comments on to other NHS services.</p>
                    <p>Do not include any medical or personal information like your name, email or phone number.</p>
                }

                @Html.TextAreaFor(m => m.Text, new {@placeholder = "Feedback", @Value = "", @class = "feedback__input", @maxlength = maxFeedbackLength, @aria_labelledby = "feedback__summary"})
                <div id="textdetailscounter" class="feedback__counter">@(maxFeedbackLength) character limit</div>
                <button class="feedback__submit button--next button--secondary" id="btnFeedback" data-event-trigger="click" data-event-value="Send feedback">Send feedback</button>
            }
            <div id="feedback-details"></div>
        </div>
    </details>
</section>