@model  NHS111.Models.Models.Web.OutcomeViewModel
<div class="findservice-form">

    @using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <div class="findservice">
            <h3>@Html.Raw((!ViewData.Keys.Contains("Title") ? "Find a Healthcare provider" : ViewData["Title"]))</h3>
            <div class="section-margin">

                @Html.LabelFor(m => m.UserInfo.CurrentAddress.PostCode, "Postcode")
                @Html.TextBoxFor(m => m.UserInfo.CurrentAddress.PostCode, new { @class = "form-control " })

                <input class="button button-next" type="submit" name="DosResults" value="@Html.Raw(ViewData["ButtonText"])">

            </div>
        </div>
    }

</div>