@using NHS111.Models.Models.Web
@model  OutcomeViewModel

@{
    var services = Model.DosCheckCapacitySummaryResult.Success.Services;
}

@if (services.Any(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails)))
{
    string title;
    if (ViewData.Keys.Contains("VisitTitle"))
    {
        title = ViewData["VisitTitle"] as string;
    }
    else
    {
        var serviceCount = services.Count(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails));
        title = serviceCount > 1 ? "There are " + serviceCount + " places you can visit" : "There is 1 place you can visit";
    }
    <details>
        <summary>
            <span>@title</span>
        </summary>
        <div class="cards">
            <div class="card">
                @foreach (var service in services.Where(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails)))
                {
                    <h3>@WebUtility.HtmlDecode(service.Name)</h3>
                    <p>
                        @foreach (String address in service.AddressLines)
                        {
                            @WebUtility.HtmlDecode(address)<br />
                        }
                    </p>
                    <p class="card__details">@WebUtility.HtmlDecode(service.ServiceOpeningTimesMessage)</p>
                    using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.SessionId)
                        @Html.HiddenFor(m => m.JourneyId)
                        @Html.HiddenFor(m => m.JourneyJson)
                        @Html.HiddenFor(m => m.Id)
                        @Html.Hidden("SelectedServiceId", @service.Id)
                        @Html.Hidden("SelectedServiceName", @service.Name)
                        @Html.Hidden("SelectedServiceAddress", @service.Address)
                        <hr />
                        <p>You don't need to call this service, you can go there during the times shown above.</p>
                        @if (Model.Id == "Dx08" && Model.UserInfo.CurrentAddress.IsPostcodeFirst)
                        {
                            <p>If you see a different GP, tell them about your medicines</p>
                        }
                        <button class="button button--link" type="submit">Get directions</button>
                    }
                }
            </div>
        </div>
    </details>
}
