@using NHS111.Models.Models.Web
@model  OutcomeViewModel

@{
    var services = Model.DosCheckCapacitySummaryResult.Success.Services;
    var serviceCount = 0;
}

@if (services.Any(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails)))
{
    string title;
    if (ViewData.Keys.Contains("VisitTitle"))
    {
        title = ViewData["VisitTitle"] as string;
    }
    else
    {
        serviceCount = services.Count(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails));
        title = serviceCount > 1 ? "There are " + serviceCount + " places you can visit" : "There is 1 place you can visit";
    }
    <details>
        <summary>
            <span>Visit a service</span>
        </summary>
        @if (Model.Id == "Dx08" && Model.UserInfo.CurrentAddress.IsPostcodeFirst)
        {
        <section class="callout callout--info">
            <div class="reading-width">
                <p>As you may not see your usual GP, let the service know which medicines you take.</p>
            </div>
        </section> 
        }
        <div class="cards">
            @foreach (var service in services.Where(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails)))
            {
                <div class="card">
                    <h3>@WebUtility.HtmlDecode(service.Name)</h3>
                    <p>
                        @foreach (String address in service.AddressLines)
                        {
                            @WebUtility.HtmlDecode(address)<br />
                        }
                    </p>
                    <p class="card__details">@WebUtility.HtmlDecode(service.ServiceOpeningTimesMessage)</p>
                    @using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.SessionId)
                        @Html.HiddenFor(m => m.JourneyId)
                        @Html.HiddenFor(m => m.JourneyJson)
                        @Html.HiddenFor(m => m.Id)
                        @Html.Hidden("SelectedServiceId", @service.Id)
                        @Html.Hidden("SelectedServiceName", @service.Name)
                        @Html.Hidden("SelectedServiceAddress", @service.Address)
                        <hr/>
                        <p>This service doesn't require an appointment</p>
                        <button class="button button--link" type="submit">Get directions</button>
                    }
                </div>
            }
        </div>
    </details>
}
