@using System.Configuration
@using System.Reflection
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.LayoutView

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("HeadTop", false)

    @{
        var data = new Dictionary<string, string> { { "ContainerID", ConfigurationManager.AppSettings["GoogleAnalyticsContainerId"] } };

        var tagPrinter = new GoogleTagManagerPrinter(data);
    }

    @tagPrinter.Print()

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@RenderSection("Title")</title>
    <link rel="manifest" href="/manifest.json">

    <link rel="preload" as="font" type="font/woff2" crossorigin href="https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2" />

    <!-- css -->
    <!--[if gt IE 8]><!--><link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/nhs-online.css")" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/nhs-online-ie6.css")" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href= "@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/nhs-online-ie7.css")" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href= "@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/nhs-online-ie8.css")" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link rel="preload" href="/content/images/nhs-logotype-blue.svg" as="image" />

    <!-- Javascript -->
    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script>
            (function (w) { w.uztracker = w.uztracker || function () { console.warn && console.warn('The uztracker() is not available.'); }; })(window);
        </script>
    }

    <!--[if lt IE 9]>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <![endif]-->

    <script src="~/scripts/jquery2.1.1.min.js"></script>
    <script src="~/scripts/jquery.cookie.js" defer></script>

    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/uz.js?cuid=AE08A9785B32E2119DA70022196C4538"></script>
    }

    @RenderSection("Scripts", false)

</head>
<body>
    @if (CookieBannerFeature.IsEnabled)
    {
        <!-- toggle cookie banner -->
        @Html.Partial("_CookieBanner")
    }

    @RenderSection("SurveyBanner", false)

    @tagPrinter.PrintNoScript()

    <script type="text/javascript"> document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled'); </script>
    <div class="skiplinks">
        <div class="skiplinks__inner">
            <a href="#content" class="skiplinks__link">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__inner">
            <a href="/" class="global-header__logo" title="Go to the NHS 111 homepage">
                <img src="/content/images/nhs-logotype-blue.svg" width="79" height="32" alt="NHS"> <span aria-label="1 1 1">111</span> <span class="global-header__phase-tag">beta</span>
            </a>
        </div>
    </header>
    
    @RenderSection("HeaderContent", false)
    <!--end header-->


    <section class="outer-section">@RenderSection("OuterSection", false)</section>

<main class="page-section clearfix" role="main">
    @if (DisclaimerBannerFeature.IsEnabled)
    {
        <!-- toggle disclaimer banner-->
        @Html.Partial("_DisclaimerBanner")
    }
    @RenderBody()
</main>
    <section class="feedback-section">@RenderSection("FeedbackSection", false)</section>
    <footer role="contentinfo" class="global-footer">
        <div class="global-footer__inner">
            <nav>
                <ul class="link-list">
                    <li>@Html.ActionLink("Terms and conditions", "Terms", "Help", null, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Privacy statement", "Privacy", "Help", null, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Cookies", "Cookies", "Help", null, new { target = "_blank" })</li>
                </ul>
            </nav>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>
    @if (UserZoomSurveyFeature.IsEnabled && Model != null && !string.IsNullOrEmpty(Model.UserZoomUrl) && !string.IsNullOrEmpty(Model.UserZoomTitle))
    {
        <script>
            $(document).ready(function () {
                uztracker('send', 'page', {
                    'url': document.location.href + '/' + '@Model.UserZoomUrl',
                        'title': '@Model.UserZoomTitle'
                    });
            });
        </script>
    }
          


    @{ Html.RenderAction("VersionInfo", "Version"); }

    <script src="~/scripts/vendor/modernizr-custom.js" async></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" integrity="sha384-B1miHxuCmAMGc0405Cm/zSXCc38EP5hNOy2bblqF6yiX01Svinm1mWMwJDdNDBGr" crossorigin="anonymous" ></script>
    <script>(jQuery.validator) || document.write('<script src="/scripts/jquery.validate-1.11.1.min.js" defer><\/script>');</script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js" integrity="sha384-25k6pBZ2fUhwDc1+3NAKvjzihGFoC8UTFCYCINNm28DqC9bOwTAiLdiGpOuKCe66" crossorigin="anonymous" ></script>
    <script>(window.jQuery.validator.unobtrusive) || document.write('<script src="/scripts/jquery.validate.unobtrusive-5.1.min.js" defer><\/script>');</script>

    <script src="~/scripts/jquery.unobtrusive-ajax.min.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ns-autogrow/1.1.6/jquery.ns-autogrow.min.js" integrity="sha384-YkP6HTmTW2n1l3gZwUJI3k7lsRCIrThucnxbVSRNoeUM7ow2gj16EXZS6k2aO+L5" crossorigin="anonymous" defer></script>
    <script>($().autogrow) || document.write('<script src="/scripts/jquery.ns-autogrow-1.1.6.min.js" defer><\/script>');</script>


    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.setDefaults({
                highlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group").addClass("form-group-error");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group").removeClass("form-group-error");
                }
            });
        });

    </script>
    <link rel="stylesheet" href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/nhs-online-print.css")" media="print" type="text/css">

</body>
</html>
