@using System.Configuration
@using System.Reflection
@using NHS111.Models.Models.Web
@using NHS111.Web.Presentation.Analytics
@using Configuration = NHS111.Web.Presentation.Configuration.Configuration
@inherits NHS111.Web.Views.Shared.LayoutView

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("HeadTop", false)

    <link rel="icon" sizes="32x32" href="/content/images/favicon-32.png">
    <link rel="icon" sizes="228x228" href="/content/images/favicon-228.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@RenderSection("Title")</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    }

    <link rel="preload" as="font" type="font/woff2" crossorigin href="https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2" />

    <!-- css -->
    <link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css/nhs-111.css")" media="screen" rel="stylesheet" type="text/css">
    <link rel="preload" href="/content/images/nhs-logotype-blue.svg" as="image" />

    @{
        if (ViewBag.Medium == ApplicationMediums.NhsApp)
        {
            <style>
                .skiplinks, .global-header, .phase-banner, .feedback-hidden, .survey-banner, main > hr:last-child {
                    display: none;
                }
            </style>
        }
    }


    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/common.js")"></script>
    <script>('HTMLDetailsElement' in window) || document.write('<script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle-polyfills.js")"><\/script>')</script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle-head.js")"></script>
    <!-- Javascript -->
    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script>
            (function (w) { w.uztracker = w.uztracker || function () { console.warn && console.warn('The uztracker() is not available.'); }; })(window);
        </script>
    }

    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/uz.js?cuid=AE08A9785B32E2119DA70022196C4538"></script>
    }

    @RenderSection("Scripts", false)

</head>
<body>

    @Html.Partial("_CompatibilityBanner")

    @RenderSection("SurveyBanner", false)

    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div class="skiplinks" role="banner">
        <div class="skiplinks__inner">
            <a href="#content" class="skiplinks__link">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__inner">
            <a href="@ConfigurationManager.AppSettings["RedirectToStartFeatureRedirectUrl"]" class="global-header__logo" title="Go to the NHS 111 homepage">
                <img src="/content/images/nhs-logotype-blue.svg" width="79" height="32" alt="NHS"> <span class="global-header__text util-digits">1 1 1</span> <span class="global-header__text">online</span>
            </a>
        </div>
    </header>

    @RenderSection("HeaderContent", false)
    <!--end header-->


    <section class="outer-section">@RenderSection("OuterSection", false)</section>
    
    @*Use '@section EmergencyAlert{}' in views to display alert banner*@
    @RenderSection("EmergencyAlert", false)

    <main class="page-section clearfix" id="content" role="main">
        @if (DisclaimerBannerFeature.IsEnabled)
        {
            <!-- toggle disclaimer banner-->
            @Html.Partial("_DisclaimerBanner")
        }
        @RenderBody()
    </main>
    @RenderSection("FeedbackSection", false)
    @{ var journeyModel = ViewData.Model as JourneyViewModel;}
    <footer role="contentinfo" class="global-footer">
        <div class="global-footer__inner">
            <p>This website only stores the cookies that are needed to make it work. Read more about how @Html.ActionLink("we use cookies.", "Cookies", "Help", null, new {id = "cookie-link", target = "_blank"})
            </p>
            <nav>
                <ul class="link-list">
                    @if ((journeyModel != null && journeyModel.PathwayNo == "PC111") || Request.Params["PathwayNo"] == "PC111")
                    {
                        <li><a href="https://digital.nhs.uk/coronavirus/coronavirus-covid-19-response-information-governance-hub" target="_blank">Privacy statement</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Privacy statement", "Privacy", "Help", null, new {target = "_blank"})</li>
                    }
                    <li>@Html.ActionLink("Terms and conditions", "Terms", "Help", null, new {target = "_blank"})</li>
                </ul>
            </nav>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>
   
    @if (UserZoomSurveyFeature.IsEnabled && journeyModel != null && !string.IsNullOrEmpty(journeyModel.UserZoomUrl) && !string.IsNullOrEmpty(journeyModel.UserZoomTitle))
    {
        <script>
            $(document).ready(function () {
                uztracker('send', 'page', {
                    'url': document.location.href + '/' + '@journeyModel.UserZoomUrl',
                        'title': '@journeyModel.UserZoomTitle'
                    });
            });
        </script>
    }
    
    @*@{ Html.RenderAction("VersionInfo", "Version"); }*@

    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle.js")"></script>
    <link rel="stylesheet" href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css/nhs-111-print.css")" media="print" type="text/css">
</body>
</html>
