@model NHS111.Models.Models.Web.Elements.LinkSummaryViewModel

@*
 Use like:

    @Html.Partial("_LinkSummary", new LinkSummaryViewModel
    {
        Link = "The title",
        Summary = "The hidden text inside"
        ID = "the_id"
    })

*@

<details role="group" class="nhsuk-u-margin-bottom-4" data-test-id="@Model.ID">
    <summary data-event-trigger="@Model.EventTrigger" data-event-value="@Model.EventValue">
        <span class="details__arrow" aria-hidden="true"></span>
        <span class="summary" role="button">@Model.Link</span>
    </summary>
    <div>
        @Html.Raw(Model.Summary)
    </div>
</details>
