@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}

<p>
    This service is available in @Model.FormattedCurrentPostcode — @Html.Partial("_rs_ChangePostcodeLink")
</p>

<div class="service-details --remote">
    <div class="unit">
        <p>
            @recommendedService.Address
        </p>
    </div>
    <div class="unit">
        <p class="tel-cta">
            Call @recommendedService.ContactDetails
        </p>
    </div>
    <div class="unit">
        <p>
            @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
        </p>
    </div>
</div>