@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}


<div class="service-details nhsuk-u-margin-bottom-4">
    @using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Hidden("SelectedServiceId", recommendedService.Id)



        <div class="service-details__address">
            <p>
                @WebUtility.HtmlDecode(recommendedService.PublicName)
            </p>
            <p>
                @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
            </p>
            <div class="form-hint measure">
                <p>
                    @recommendedService.ReasonText
                </p>
            </div>
            <p>
                <a href="#" class="action-link">

                    @Html.Partial("_ActionButton", new ActionLinkViewModel() { Text = "Use this service" })
                </a>
            </p>
        </div>



    }
</div>