@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}


<div class="service-details nhsuk-u-margin-bottom-4">
    @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

        <p class="service-details__name">
            @WebUtility.HtmlDecode(recommendedService.PublicName)
        </p>
        <p class="service-details__hint measure">
            @recommendedService.ReasonText
        </p>
        <button type="submit" name="selectedHealthCareServiceId" id="@recommendedService.Id" value="@recommendedService.Id" class="button--link">Use this service</button>
    }
</div>