@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@{
    var worseningIsShown = ViewData["DisplayWorseningCareAdvice"];
    var text = worseningIsShown == null || (worseningIsShown is bool && (bool)worseningIsShown) ? "Things to look out for and self-care" : "What to do if it gets worse and self care";
}
@if (Model.Any())
{
    <details class="measure care-advice">
        <summary><span class="details__arrow" role="presentation"></span><span class="summary">@text</span></summary>
        <div>
            @foreach (var careAdvice in Model)
            {
                if (careAdvice.Items != null && careAdvice.Items.Any())
                {
                    <div>
                        @{
                            var title = careAdvice.Keyword;
                            if (title.Equals("Alert Pandemic"))
                            {
                                title = "Coronavirus (COVID-19)";
                            }
                        }
                        <h2 id="Advice_@careAdvice.Id" class="nhsuk-heading-m">@title</h2>
                        @foreach (var parent in careAdvice.Items)
                        {
                            <p>
                                @parent.Text
                            </p>
                            if (parent.Items != null && parent.Items.Any())
                            {
                                if (parent.Items.Any())
                                {
                                    <ul>
                                        @foreach (var child in parent.Items)
                                        {
                                            <li>@child.Text</li>
                                        }
                                    </ul>
                                }
                            }

                        }
                        @Html.Hidden(careAdvice.Id)
                    </div>
                }
            }
        </div>
    </details>
}
