@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}



@using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
{
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
    @Html.Hidden("SelectedServiceId", recommendedService.Id)

    
    
        <div class="service-details --remote">
            <div class="unit">
                <p>
                    @WebUtility.HtmlDecode(recommendedService.PublicName)
                </p>
            </div>
            <div class="unit">
                <p>
                    @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
                </p>
            </div>
            <div class="unit">
                <div class="form-hint measure">
                    <p>
                        @recommendedService.ReasonText
                    </p>
                </div>
                <p>
                    <a href="#" class="action-link">
        
                        @Html.Partial("_ActionButton", new ActionLinkViewModel() {Text = "Use this service" })
                    </a>
                </p>
            </div>
        </div>



}




@{
    var mapService = JsonConvert.SerializeObject(new[] { Model.RecommendedService });
}
<script>
    window.mapServices = @Html.Raw(mapService);
    window.currentPostcode = "@Html.Raw(Model.CurrentPostcode)";
</script>