@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}
<div class="service-details nhsuk-u-margin-bottom-4">
    <div class="service-details__address">
        <p>
            @WebUtility.HtmlDecode(recommendedService.PublicName)<br />
            @foreach (String address in recommendedService.AddressLines)
            {
                if (address != "")
                {
                    @WebUtility.HtmlDecode(address)<br />
                }
            }
        </p>
    </div>
    <div class="service-details__hours nhsuk-u-margin-bottom-4">
        @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
    </div>
    <p class="service-details__distance">@WebUtility.HtmlDecode(recommendedService.Distance) miles away</p>
    <div class="service-details__directions">
        @{
            var form = Model.OutcomeGroup.Equals(OutcomeGroup.RepeatPrescription)
                ? Html.BeginForm("ReferralExplanation", "Outcome", FormMethod.Post)
                : Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post);
        }
        @using (form) {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            @Html.Hidden("SelectedServiceId", @recommendedService.Id)
            <p class="service-details__hint">This service needs some more details from you.</p>

            @Html.Partial("_ActionButton", new ActionLinkViewModel() { Text = "Refer me to this service" })
        }
    </div>
</div>