@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@using NHS111.Models.Models.Web.Enums
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}


<div class="service-details nhsuk-u-margin-bottom-4">


    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {
        Model.PathwayNo = "GBS_CPN";
        Model.PathwayId = "GBS_CPN";
        Model.NodeType = NodeType.Question;
        Model.Id = "StartTriage";
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Hidden("SelectedServiceId", recommendedService.Id)
        @Html.Hidden("SelectedAnswer", "Start")
        <p class="service-details__name">
            @WebUtility.HtmlDecode(recommendedService.PublicName)
        </p>
        <p class="service-details__hint measure">
            @recommendedService.ReasonText
        </p>
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-0">
            <button class="nhsuk-action-link__link button--link" name="Question" value="Question">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Begin E-Consult Referral</span>
            </button>
        </div>
    }
</div>

