@model NHS111.Models.Models.Web.SearchJourneyViewModel

<div class="form-group @(@ViewData.ModelState.IsValidField("SanitisedSearchTerm") ? "" : "form-group-error")">
    @using (Html.BeginForm("SearchResults", "Search", FormMethod.Post))
    {
        @Html.HiddenFor(m => Model.UserInfo.Demography.Age)
        @Html.HiddenFor(m => Model.UserInfo.Demography.Gender)
        @Html.HiddenFor(m => Model.FilterServices)
        <h1>
            @Html.LabelFor(m => m.SanitisedSearchTerm, "Tell us the symptom you’re concerned about")
            <span class="form-hint">For example, headache, swollen knee or rash</span>
        </h1>
        @Html.ValidationMessageFor(m => m.SanitisedSearchTerm, "Please enter the symptom you're concerned about", new { @class = "error-message" })
        <div class="symptoms-find-container">
            @Html.TextBoxFor(m => m.SanitisedSearchTerm, new { @autocomplete = "off", @class = "form-textbox" })
            <button type="submit" class="button button--next" value="Search" id="searchButton">Next</button>
        </div>
    }
</div>

