@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@model  OutcomeViewModel
@{
    var services = Model.GroupedDosServices.First(s => s.OnlineDOSServiceType.IsReferral).Services;
}

<div class="cards">
    @foreach (var callbackService in services)
    {
        <div class="card">
            <h3>@WebUtility.HtmlDecode(callbackService.PublicName)</h3>

            @if (!callbackService.IsOpen)
            {
                @Html.Partial("_ServiceOpeningTimes", callbackService, ViewData) 
            }

            @using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
            {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
                @Html.Hidden("SelectedServiceId", @callbackService.Id)
               
                <p>This service needs some more details from you.</p>
                <hr />
                <button type="submit" name="PersonalDetails" value="Refer me to this service">Refer me to this service</button>
                
            }
        </div>
    }
</div>
