@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}

<div class="cards">
    <div class="card">
        <p>@WebUtility.HtmlDecode(recommendedService.PublicName)</p>

        <p>
            @foreach (String address in recommendedService.AddressLines)
            {
                @WebUtility.HtmlDecode(address)<br />
            }
        </p>

        @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)

        <p>@WebUtility.HtmlDecode(recommendedService.Distance) miles away</p>

        @using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            @Html.Hidden("SelectedServiceId", @recommendedService.Id)
            <p>This service needs some more details from you.</p>
            <hr />
            @Html.Partial("_ActionButton", new ActionLinkViewModel() {Text = "Refer me to this service"})
            @Html.Partial("_rs_ChangePostcodeLink")
        }
    </div>
</div>
