@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
    var isOtherService = ViewData.ContainsKey("IsOtherService");
    var showServiceDescriptionInDetails = !string.IsNullOrEmpty(recommendedService.ServiceTypeDescription) && isOtherService;
}
<div class="service-details-container nhsuk-u-margin-bottom-4">
    <div class="service-details">
        @if (showServiceDescriptionInDetails)
        {
            <p class="service-listing__info">
                @recommendedService.ServiceTypeDescription
            </p>
            <hr />
        }
        <div class="service-details__address">
            <p>
                @Html.Raw(recommendedService.GetServiceDisplayHtml(isOtherService))
            </p>
        </div>
        <div class="service-details__hours">
            @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
        </div>
    </div>
    @*
        If an appointment is required its a public phone type only
        This is a go to so no contact details
        <div class="subroutine measure">
            <div class="callout callout--attention">
                You must call <b>@recommendedService.ContactDetails</b> to make an appointment
            </div>
        </div>

        .service-details__map is used by javascript to replace with the map.
    *@

    <div class="service-details__map" data-id="@recommendedService.Id"></div>
    <div class="service-details">
        <p class="service-details__distance nhsuk-u-margin-bottom-0">
            @recommendedService.Distance miles away
        </p>

        <div class="service-details__directions">
            @using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.JourneyId)
                @Html.HiddenFor(m => m.JourneyJson)
                @Html.HiddenFor(m => m.Id)
                @Html.Hidden("SelectedServiceId", recommendedService.Id)
                @Html.Hidden("SelectedServiceName", recommendedService.Name)
                @Html.Hidden("SelectedServiceAddress", recommendedService.Address)
                <button class="button--link card__directions--fallback" type="submit" data-event-trigger="click" data-event-value="Get directions fallback">Get directions</button>
                <p class="nhsuk-u-margin-bottom-0"><a class="card__directions" style="display: none;" target="_blank" href="@string.Format("https://www.google.com/maps/dir/?api=1&origin={0}&destination={1}", Model.CurrentPostcode, recommendedService.Address)" data-event-trigger="click" data-event-value="Get directions">Get directions <span class="nhsuk-u-font-size-16">(opens a new tab or window)</span></a></p>
            }
        </div>
    </div>


    @{
        var mapService = JsonConvert.SerializeObject(new[] { recommendedService });
    }
    <script>
        if (!window.mapServices) window.mapServices = {}
        window.mapServices[@recommendedService.Id] = @Html.Raw(mapService);
        window.currentPostcode = "@Html.Raw(Model.CurrentPostcode)";
    </script>
</div>