@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OtherServicesViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    //set this here since this property is used to pass through to each partial
    //further down.  Need this to always be the ACTUAL recommended service.
    var recommendedService = Model.RecommendedService;
}

@section Title {
    NHS 111 - Other services
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/recommendedservice/otherservices/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': 'Other Services Found'
        }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "service-list"));
    dataDictionary.Add(new KeyValuePair<string, object>("OtherServicesChangePostcode", "true"));
    var previousAction = Model.RecommendedService == null ? "DispositionWithServices" : "RecommendedService";
}

@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.RepeatPrescriptionOtherServices, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<div class="nhsuk-core">
    @using (Html.BeginForm(previousAction, "Outcome", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsRecommendedServiceViewModel", recommendedService, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "RecommendedService" } } )
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        <button class="button--link search__button--back">Back</button>
    }

    <div class="measure nhsuk-u-margin-top-2">
        <h1>Other ways to get help</h1>
        @Html.Partial("_rs_Timings", Model)
    </div>

    <div class="other-services">
        @Html.Partial("_rs_ChangePostcodeLink", dataDictionary)
        @foreach (var service in Model.OtherServices)
        {
            Model.RecommendedService = service;
            <details class="service-listing" @(Model.OtherServices.Count() == 1 ? "open" : "")>
                <summary>
                    <p class="service-listing__name">@WebUtility.HtmlDecode(@service.PublicName)</p>
                    @*<p>@Html.Raw(service.ServiceType.Description)</p>*@
                    @if (service.OnlineDOSServiceType.Equals(OnlineDOSServiceType.PublicPhone) || service.OnlineDOSServiceType.Equals(OnlineDOSServiceType.Callback))
                    {
                        <p class="service-listing__info">Telephone service</p>
                    }
                    else
                    {
                        <p class="service-listing__info">@WebUtility.HtmlDecode(service.Distance) miles away</p>
                    }
                    <span class="service-listing__toggle--hide">Hide</span>
                    <span class="service-listing__toggle--show">More information</span>
                </summary>
                @Html.Partial(new ServiceTypeMapping(service.OnlineDOSServiceType).TypeViewName, Model)
            </details>
        }
    </div>
    
    @* Emergency Prescription pathway is for non-symptomatic, so the worsening advice should not be offered *@
    @if (Model.PathwayNo != "PW1827")
    {
        <hr/>
        
        @Html.Partial("_rs_CareAdvice", Model.CareAdvices)
        @Html.Partial("_rs_WorseningAdvice", Model)
    }
</div>