@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.DosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title {
    DoS comparision tool
}

@using (Html.BeginForm("FillServiceDetails", "DOS", FormMethod.Post))
{
    @*@Html.Partial("_CommonHiddenFieldsDosViewModel", Model)*@
    <section>
        <div>
            <div>
                <label>
                    Age
                </label>
                <div class="inline-details">
                    @foreach (var ageCategory in Enum.GetValues(typeof(AgeCategoryEnum)))
                    {
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.AgeCategory, ageCategory)
                                @ageCategory.ToString()
                            </label>
                        </div>
                    }
                </div>
                @*<label>
                    Case Id
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control form-control-4-chars", placeholder = "Case Id" })
                </div>

                <label>
                    Age
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control form-control-4-chars", placeholder = "Age" })
                </div>
                <label>
                    Gender
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", placeholder = "Gender" })
                </div>*@
                <div>
                    <input type="submit" class="" value="Search" />
                </div>
            </div>
        </div>
    </section>
}

