@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Enums
@{ Layout = "~/Views/Shared/_LayoutNhsUk.cshtml"; }
@inherits NHS111.Web.Views.Shared.DirectLinkingView<OutcomeViewModel>


@section Title  {NHS 111 Online - Check your answer}


@section HeadTop {
    @{
        var url = string.Format("/{0}/{1}/{2}/check-answer", Url.Encode(Model.PathwayId), Url.Encode(Model.PathwayTitle), Url.Encode(Model.QuestionNo));
    }

    <script>
        var pageId = '@Model.PathwayId';
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '@url',
                'virtualPageTitle': 'Check answer'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.CheckAnswer, Model),
        Heading = "Help us improve this question",
        Paragraph = "Does it make sense? Do you understand all the words?"
    })
}

@functions {

    string WriteDirectLink(JourneyViewModel model)
    {
        if (DirectLinkingFeature.IsEnabled)
        {
            return "<!-- DIRECT LINK: " + model.StepLink + " -->";
        }

        return "";
    }

    string WriteAnswers(string triggerQuestionNo)
    {
        var answerQuery = "";
        foreach (var question in Model.Journey.Steps)
        {
            if (string.Equals(question.QuestionNo, triggerQuestionNo, StringComparison.CurrentCultureIgnoreCase))
                return answerQuery.Trim(',');
            answerQuery += question.Answer.Order - 1 + ",";
        }

        return answerQuery.Trim(',');
    }

}

@using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
{
    @Html.HiddenFor(x => x.TriggerQuestionNo)
    @Html.HiddenFor(x => x.TriggerQuestionAnswer)
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

    <input type="hidden" name="Answers" value="@WriteAnswers(Model.TriggerQuestionNo)" />

    @Html.Raw(WriteDirectLink(Model))

    for (int i = 0; i < Model.CollectedKeywords.Keywords.Count; i++)
    {
        @Html.HiddenFor(model => Model.CollectedKeywords.Keywords[i].Value)
        @Html.HiddenFor(model => Model.CollectedKeywords.Keywords[i].IsFromAnswer)
    }

    for (int i = 0; i < Model.CollectedKeywords.ExcludeKeywords.Count; i++)
    {
        @Html.HiddenFor(model => Model.CollectedKeywords.ExcludeKeywords[i].Value)
        @Html.HiddenFor(model => Model.CollectedKeywords.ExcludeKeywords[i].IsFromAnswer)
    }
    <div class="form-group measure @(@ViewData.ModelState.IsValidField("SelectedAnswer") ? "" : "form-group-error")">
        <fieldset>
            <legend>
                <h1>Check your answer</h1>
            </legend>
            <p>You answered "@Model.TriggerQuestionAnswer" to this question:</p>
            <div class="callout callout--attention">
                <p>@Model.Journey.Steps.First(a => a.QuestionNo == Model.TriggerQuestionNo).QuestionTitle</p>

            </div>
            <p>This means you may need urgent help.</p>
            <p class="emphasis">Do you want to look at this question again?</p>
            <div class="multiple-choice">
                <input name="SelectedAnswer" data-val="true" data-val-required="'SelectedAnswer' should not be empty." type="radio" class="multiple-choice__input" id="Yes" value="Yes" />
                <label for="Yes" class="multiple-choice--radio">Yes</label>
            </div>
            <div class="multiple-choice">
                <input name="SelectedAnswer" data-val="true" data-val-required="'SelectedAnswer' should not be empty." type="radio" class="multiple-choice__input" id="No" value="No" />
                <label for="No" class="multiple-choice--radio">No</label>
            </div>
        </fieldset>
    </div>
    <button class="button--next" id="CheckAnswer" type="submit" name="CheckAnswer" value="CheckAnswer">Next</button>
}

@Html.Partial("_PageLoadingIndicator")