@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title
{NHS 111 - 999 Police}
@section HeadTop {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': 'outcome/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
    <link href="~/Content/css_NhsUK/signposting-outcome.css" media="all" rel="stylesheet" type="text/css" />
}



@Html.Partial("_OutcomeHeader", Model, new ViewDataDictionary() { { "OverrideWorseningAdvice", "true" } })

@Html.Partial("_SurveyLink")

<div id="wrapper">
    <div>

    </div> <!--/ContentWrapper-->
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {

        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <div class="changeAnswers row">
            <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my previous answer" />
        </div>

    }

</div> <!-- /site -->