@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Confirmation
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />
@section OuterSection {
        <div class="info-panel">
            <h2>Your callback has been confirmed</h2>
            <div class="info-panel-innertext">
                You'll receive a call from <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong> <br/>
                and notified them of your outcome <strong>@Model.Title</strong>
                where an appointment will be arranged if necessary
            </div>
        </div>
}


<section>
    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
        <h3 class="care-advice-section-header">
            What if I feel worse?
        </h3>

        <div class="service-booking-message alert">
            @foreach (var item in Model.WorseningCareAdvice.Items)
            {
                <p>@item</p>
            }
        </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>