@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Confirmation
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="section-item">
        <h3 class="section-header">
            Service booking confirmed
        </h3>
        <div class="service-booking-message">
            <div>We have successfully contacted <b>@WebUtility.HtmlDecode(Model.SelectedService.NameField)</b> and notified them of your outcome <b>@Model.Title</b></div>
        </div>
    </div>
</section>

<section>
    <div class="section-item last">
        <h3 class="section-header">
            Worsening and self care advice
        </h3>
        <div class="service-booking-message alert">
            If there are any new symptoms, or if the condition gets worse, changes or you have any other concerns, call 111.
        </div>
        <div class="self-care-content">
            @if (Model.CareAdvices.Any())
            {
                <div class="self-care-title">Self care</div>
                <div class="self-care">

                    @foreach (var careAdvice in Model.CareAdvices)
                    {
                        <h4 class="self-care-title">@careAdvice.Title</h4>
                        @Html.Hidden(careAdvice.Id)
                        foreach (var item in careAdvice.Items)
                        {
                            <p>@item</p>
                        }
                    }
                </div>
            }
        </div>
    </div>
</section>