@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var outcomeHeader = (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
    Model.WorseningCareAdvice.Items.Add(new CareAdviceText { Text = "You don't need to send any further requests for a callback. However, if you feel worse whilst you are waiting, please call 111 now." });
}

@section Title {
    Confirmation
}

@section HeadTop {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/Content/css_NhsUK/signposting-outcome.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/Content/css_NhsUK/signposting-outcome-print.css" media="print" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="outcome-header">
        <h2 class="heading-large">We have received your request for a callback</h2>
        <h3 class="heading-medium">
            @* The below must appear on one line else the browser will include extraneous spaces *@
            You'll receive a call from <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong>@if (!string.IsNullOrEmpty(Model.TimeFrameText)) {
                <span>@Html.Raw(string.Format(" within <strong>{0}</strong>.", Model.TimeFrameText))</span>
            } else {
                @(".")
            }
        </h3>
        @if (Model.DisplayWorseningCareAdvice) {
            <div class="worsening-advice-icon confirmation">
                <p>
                    @foreach (var item in Model.WorseningCareAdvice.Items) {
                        @(item.Text + " ");
                    }
                </p>
            </div>
        }
    </div>
</section>

@if (!string.IsNullOrEmpty(Model.WaitTimeText))
{
    <section>
        <div class="outcome-additional-info">
            <h3 class="heading-medium">
                If you have not heard within @Model.WaitTimeText please call 111
            </h3>
        </div>
    </section>
}

@Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "What can I do in the meantime?" } })
