@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Confirmation
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="section-item">
        <h3 class="section-header">
            Service booking confirmed
        </h3>
        <div class="service-booking-message">
            <div>We have successfully contacted <b>@WebUtility.HtmlDecode(Model.SelectedService.NameField)</b> and notified them of your outcome <b>@Model.Title</b></div>
        </div>
    </div>
</section>

<section>
    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
        <h3 class="section-header">
            Worsening and self care advice
        </h3>

        <div class="service-booking-message alert">
            @foreach (var item in Model.WorseningCareAdvice.Items)
            {
                <p>@item</p>
            }
        </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>