@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var outcomeHeader = (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
    Model.WorseningCareAdvice.Items.Add(new CareAdviceText { Text = "You don't need to send any further requests for a callback. However, if you feel worse whilst you are waiting, please call 111 now." });
}

@section Title {
    Confirmation
}

@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/confirmation/{3}/{4}/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedServiceId), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@{ 
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirmation"));
}
@section FeedbackSection {
        @Html.Partial("_DispositionBanners", dataDictionary)
}

<section>
    <div class="outcome-header">
        <h2 class="heading-large">We have received your request for a callback</h2>
        <h3 class="heading-medium">
            @* The below must appear on one line else the browser will include extraneous spaces *@
            You will receive a call from <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong>.  If you have not heard from this service within <strong>@WebUtility.HtmlDecode(Model.WaitTimeText)</strong> please call 111.
        </h3>
        @if (Model.DisplayWorseningCareAdvice)
        {
            <div class="worsening-advice-icon confirmation">
                <p>
                    @foreach (var item in Model.WorseningCareAdvice.Items)
                    {
                        @(item.Text + " ");
                    }
                </p>
            </div>
        }
    </div>
</section>

@*@if (!string.IsNullOrEmpty(Model.WaitTimeText))
{
    <section>
        <div class="outcome-additional-info">
            <h3 class="heading-medium">
                If you have not heard within @Model.WaitTimeText please call 111
            </h3>
        </div>
    </section>
}*@

@Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "What can I do in the meantime?" } })
