@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Confirmation
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="outcome-header">
        <h2 class="heading-large">Your callback has been confirmed</h2>
        <h3 class="heading-medium">You'll receive a call from <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong>
        @(!string.IsNullOrEmpty(@Model.TimeFrameText) ? Html.Raw(string.Format("within <strong>{0}</strong>.", @Model.TimeFrameText)) : Html.Raw(string.Format(". <br />We have notified them of your outcome <strong>{0}</strong>.", @Model.Title)))</h3>
        @Html.Partial("_WorseningAdvice", Model)
    </div>
</section>

<section>
    <div>
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>
