@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{ Layout = "~/Views/Shared/_LayoutNhsUk.cshtml"; }
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Dead end jump'
            }];
    </script>
}
@section Title {NHS 111 Online - @Model.TitleWithoutBullets}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<section class="measure nhsuk-core">
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post, new { @class = "measure" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.HiddenFor(x => Model.QuestionNo)

    <div class="callout callout--attention nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-2">
        <h1 class="nhsuk-heading-l">@Model.TitleWithoutBullets</h1>
        <p>A health adviser needs to speak to you as we can’t help you with this problem online.</p>
        <p>See @Html.ActionLink("other ways you can contact 111", "OtherWays", "Help", null, new { id = "language-link", target = "_blank" }) if you are deaf or hard of hearing.</p>
    </div>

        @Html.Partial("_CovidEliminator", Model)

        if (Model.NeedsGeneralCovidAdvice)
        {
            @Html.Partial("_GeneralCovidAdvice")
        }

        <ul>
            <li>You can tell the adviser that we haven’t been able to finish your assessment online.</li>
            <li>They will ask you to repeat some of your answers, but will be able to get you the right care.</li>
        </ul>

        <div class="content-block">
            <p>
                @if (!Model.IsFirstStep)
                {
                    <button id="PreviousQuestionFromOutcome" class="button--previous button--link" id="previousScreen" type="submit" value="PreviousQuestion" name="PreviousQuestion" formnovalidate>Change my previous answer</button>
                }
            </p>
        </div>

        <hr>

        <details class="measure">
            <summary><span class="details__arrow" role="presentation"></span>Why can’t I do this online?</summary>
            <div class="callout callout--info">
                <p>At the moment, the online service doesn’t cover everything the phone service does. For example, mixed symptoms that are harder to check online or a diagnosed condition.</p>
            </div>
        </details>
    }
</section>