@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {

}

@section OuterSection {
    <div class="sub-header">
        <div>
            <div class="tick">&#10003;</div>
            <h2>You've finished your online assessment</h2>
            <p>We recommend that you speak to a clinician within 2 hours</p>
        </div>
    </div>
}

<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />

<h2>Let us contact a healthcare provider near you</h2>
<p>Please enter your details below to find a healthcare provider and they will contact you.</p>

@using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post)) {

    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.JourneyJson)
    @Html.HiddenFor(x => Model.PathwayId)
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.SymptomGroup)
    @Html.HiddenFor(x => Model.UserInfo.Age)
    @Html.HiddenFor(x => Model.UserInfo.Gender)
    @Html.HiddenFor(x => Model.SymptomDiscriminator)
    @Html.HiddenFor(x => Model.Title)
    @Html.HiddenFor(x => Model.UserId)

    <label>
        Postcode of current location
        <input type="text" name="AddressSearchViewModel_PostCode" />
    </label>
    <aside>
        <h3>Why we need this</h3>
        <p>
            So we can offer details of healthcare providers<br />available near to where you are right now.
        </p>
    </aside>


    <label>
        Name of your GP practice <span>(optional)</span>
        <input type="text" name="FindGPId" />
    </label>
    <aside>
        <h3>Why we need this</h3>
        <p>
            So we can offer healthcare providers which may be<br />available through your own GP practice.
        </p>
    </aside>


    <button type="submit" value="Find available healthcare providers" name="DosResults" />

}
