@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}
<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
@section Title {
    NHS 111 - Looking after yourself
}

@section Scripts {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

<div class="outcome-header">
    <h2 class="heading-large">Based on your answers, you can look after yourself and don't need to see a healthcare professional</h2>
</div>
    


@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}
@Html.Partial("_WorseningAdvice", Model)
<section>
    <div>
        @if (Model.CareAdvices != null && Model.CareAdvices.Any()) {
            @Html.Partial("_CareAdvice", Model.CareAdvices)
        } else {
            <h2 class="no-careadvice">If you need more help with your problem, you can find further information on <a href="www.nhs.uk">NHS Choices</a>.</h2>
        }
    </div>
</section>
