@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var error = Model.DosCheckCapacitySummaryResult.ResultListEmpty;
}

@section Title { NHS 111 - Speak to a clinician }

@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Model.Id });
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<section>
    <div class="outcome-header">
        <h1 class="heading-large">A nurse from 111 will phone you</h1>
        <div class="disposition-title-splitter"></div>
        <h2 class="heading-small">Enter a postcode so we can find a suitable local service</h2>
    </div>
</section>

<div class="itk-message">
    <p>The 111 nurse will aim to phone you in 20 minutes or less.</p>
    <br/>
    <p>The 111 nurse will:</p>
    <ul>
        <li>
            have your answers
        </li>
        <li>
            advise you what to do
        </li>
        <li>
            book an appointment, if needed, with an NHS service
        </li>
    </ul>
</div>

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("Title", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ButtonText", "Next"));
    dataDictionary.Add(new KeyValuePair<string, object>("Label", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ITK", true));
    dataDictionary.Add(new KeyValuePair<string, object>("AddressInfoMessage", "<p>This postcode finds the nearest 111 service to phone you.</p><br/><p> It is usually your home postcode.</p>"));
    dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };

}

@Html.Partial("_FindService", Model, dataDictionary)


<hr/>
<div id="care-advice-expanding">
    <h3 class="care-advice-expanding-link heading-small">If you don't want to book a call from this service, please read the following advice</h3>
    <div class="care-advice-expanding-content content">

        @Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "" }, {"NoHR", "true"}})

        @Html.Partial("_WorseningAdvice", Model)
    </div>
</div>


<script>
    $(function () {
        $("#care-advice-expanding").accordion({ collapsible: true, active: 'none', heightStyle: "content" });
    });
</script>