@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var error = Model.DosCheckCapacitySummaryResult.HasNoServices;
}

@section Title { Speak to a clinician }
<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/Content/css_NhsUK/signposting-outcome.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/Content/css_NhsUK/signposting-outcome-print.css" media="print" rel="stylesheet" type="text/css" />

@section Scripts {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@Html.Partial("_OutcomeHeader", Model, new ViewDataDictionary() { { "OverrideOutcomeHeader", "true" } })

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

@Html.Partial("_FindService", Model, new ViewDataDictionary { { "Title", "Let us find a clinician for you" }, { "ButtonText", "Find healthcare services" }, { "Label", "healthcare services" } })

@Html.Partial("_WorseningAdvice", Model)

<hr />

<section>
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        if (!Model.DisplayOutcomeReferenceOnly)
        {
            <div class="row">
                <input class="button-link-prev" type="submit" name="PreviousQuestion" value="Change my previous answer" />
            </div>
        }
    }
</section>