@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var error = Model.DosCheckCapacitySummaryResult.ResultListEmpty;
}

@section Title { NHS 111 - Speak to a clinician }
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/confirmation.css")" media="all" rel="stylesheet" type="text/css">
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/disposition.css")" media="screen" rel="stylesheet" type="text/css" />
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/signposting-outcome.css")" media="all" rel="stylesheet" type="text/css" />
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/signposting-outcome-print.css")" media="print" rel="stylesheet" type="text/css" />

@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Model.Id });
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<section>
    <div class="outcome-header">
        <h1 class="heading-large">A nurse from 111 will phone you.</h1>
        <div class="disposition-title-splitter"></div>
        <h2 class="heading-small">Enter a postcode so we can find a suitable local service</h2>
    </div>
</section>

<div class="itk-message">
    <p>The 111 nurse should phone in 20 minutes and will</p>
    <br/>
    <ul>
        <li>
            have your answers
        </li>
        <li>
            advise you what to do
        </li>
        <li>
            book an appointment, if needed, with an NHS service
        </li>
    </ul>
</div>

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("Title", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ButtonText", "Next"));
    dataDictionary.Add(new KeyValuePair<string, object>("Label", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ITK", true));
    dataDictionary.Add(new KeyValuePair<string, object>("AddressInfoMessage", "This postcode finds the nearest 111 service and is where you will get care. It's usually your home postcode."));
    dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };

}
@Html.Partial("_FindService", Model, dataDictionary)

<hr />

<section>
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        if (!Model.DisplayOutcomeReferenceOnly)
        {
            <div class="changeAnswers row">
                <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my previous answer" />
            </div>
        }
    }
</section>