@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var noITKServicesAreAvailable = Model.DosCheckCapacitySummaryResult.ResultListEmpty || Model.DosCheckCapacitySummaryResult.Success.Services.All(s => !s.OnlineDOSServiceType.IsReferral);
}

@section Title { NHS 111 - Speak to a clinician }

@section HeadTop {
    @{
        var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id));
        var title = Model.TitleWithoutBullets;
        if (title == null) { title = "ITK Clinician callback - no results"; }
    }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@title'
        }];
    </script>
}

@{
    var surveyDataDictionary = ViewContext.ViewData;
    surveyDataDictionary.Add(new KeyValuePair<string, object>("ServiceOptions", ""));
    surveyDataDictionary.Add(new KeyValuePair<string, object>("ServiceCount", 0));
}

@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink, surveyDataDictionary)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink, surveyDataDictionary)
    }
}


@if (noITKServicesAreAvailable && Model.CurrentPostcode != null)
{
    <section class="local-header">
        <div class="measure">
            <h1 class="local-header__title">You need to call 111 to speak to an adviser now</h1>
        </div>
    </section>

    <section class="measure nhsuk-core">
        @Html.Partial("_CovidEliminator", Model)
    </section>

    <div class="itk-message measure">
        <p>We’ve gone as far as we can online and to get you the right help we need to contact you.</p>
        <p>At the moment we're unable to connect you automatically in your area.</p>
        <p>When you call 111 the health adviser will:</p>
        <ul>
            <li>
                ask you to repeat your answers
            </li>
            <li>
                transfer you to a nurse if necessary
            </li>
            <li>
                book an appointment for you if you need one
            </li>
            <li>
                advise you what to do next
            </li>
        </ul>

        <div class="callout callout--info">
            <p>Your answers mean it’s important that you speak to a health adviser. Call 111 now.</p>
        </div>
    </div>

    if (Model.CareAdvices != null && Model.CareAdvices.Any())
    {
        <details class="measure">
            <summary>
                <span class="details__arrow"></span>
                <span class="summary">I don't want to book a call right now</span>
            </summary>
            <div class="panel panel-border-narrow">
                @Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "Things you can do yourself" }, { "NoHR", "true" } })
            </div>
        </details>
    }
}
else
{
    <section class="local-header">
        <div class="measure">
            <h1 class="local-header__title">Book a call with a 111 nurse now</h1>
        </div>
    </section>

    <section class="measure nhsuk-core">
        @Html.Partial("_CovidEliminator", Model)
    </section>

    <div class="itk-message measure">
        <p>We’ve gone as far as we can online, and we need to contact you to finish your health assessment.</p>
        <br/>
        <p>The 111 nurse will:</p>
        <ul>
            <li>
                know what you’ve answered so far
            </li>
            <li>
                ask you some more questions
            </li>
            <li>
                book an appointment for you if you need one
            </li>
            <li>
                advise you what to do next
            </li>
        </ul>

        @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
            @Html.Hidden("SelectedServiceId", Model.DosCheckCapacitySummaryResult.Success.Services.First(s => s.OnlineDOSServiceType.IsReferral).Id)

            <hr/>
            <button type="submit" name="PersonalDetails" value="Book a call">Book a nurse call</button>
        }


        <div class="callout callout--info">
            <p>You should get a call within @Html.Raw(Model.WaitTimeText). It’s important that you wait to speak to the nurse.</p>
        </div>
    </div>

    if (Model.CareAdvices != null && Model.CareAdvices.Any())
    {
        <details class="measure">
            <summary>
                <span class="details__arrow"></span>
                <span class="summary">I don't want to book a call right now</span>
            </summary>
            <div class="panel panel-border-narrow">
                @Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary {{"Title", "Things you can do yourself"}, {"NoHR", "true"}})
                @Html.Partial("_WorseningAdvice", Model)
            </div>
        </details>
    }
    else
    {
        @Html.Partial("_WorseningAdvice", Model)
    }
}
