@using System.Web.Mvc.Html
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<ServiceUnavailableReferralResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var tagPrinter = new AnalyticsTagPrinter();
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.AnalyticsDataLayer)
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "failure"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.OutcomeModel, dataDictionary)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.OutcomeModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.BookingUnavailable, Model.OutcomeModel) })
    }
    else
    {
    @Html.Partial("_SurveyLink", Model.OutcomeModel)
    }
}

<section>
    <div class="callout callout--warning">
        @Html.Partial(Model.PartialViewName, Model)
    </div>

    @Html.Partial("_AlternativeServices", Model.OutcomeModel, new ViewDataDictionary { { "Title", "Please choose another service instead" } })
</section>

@if (!Model.OutcomeModel.OutcomeGroup.Is999NonUrgent)
{
@Html.Partial("_CareAdvice", Model.OutcomeModel.CareAdvices, new ViewDataDictionary { { "Title", "What you can do in the meantime" } })
}
@if (!Model.OutcomeModel.OutcomeGroup.Is999NonUrgent && !Model.OutcomeModel.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergency)) {
@Html.Partial("_WorseningAdviceWithTitle", Model.OutcomeModel)
}
