@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
    var isDx94 = Model.Id == NHS111.Models.Models.Domain.DispositionCode.Dx94.Value;
    var IsEmergencyDepartment = isDx94 && (Model.RecommendedService == null ? false : Model.RecommendedService.IsGoToEdService);
}

<h1>Get help as soon as you can</h1>

@section Title {Get help as soon as you can}
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "recommended-service"));
}

<section class="measure nhsuk-core">
    @Html.Partial("_CovidEliminator", Model)
    @if (Model.NeedsGeneralCovidAdvice)
    {
        @Html.Partial("_GeneralCovidAdvice")
    }

    <div class="disposition-set">
        <!--Before you get help-->
        <div class="disposition-unit">
            <h2 class="nhsuk-heading-l">Before you get help</h2>
            <div>
                <details class="description">
                    <summary data-open="Hide" data-close="Show" data_event_trigger="click" , data_event_value="Before you get help">
                    </summary>
                    <div>
                        <p>If you think you might report the assault to the police:</p>
                        <ul>
                            <li>cover any cuts, but don't wash them</li>
                            <li>keep the clothes you were wearing and don't wash them</li>
                            <li>don't brush your teeth</li>
                            <li>if you have brushed your teeth and used chewing gum, save that</li>
                        </ul>
                    </div>
                    <div class="callout callout--attention">
                        Call 999 to report it to the police. GOV.UK has information on what
                        happens when you <a href="https://www.gov.uk/report-rape-sexual-assault" target="_blank" data_event_trigger="click" , data_event_value="Report a rape or sexual assault">
                            report a rape or sexual assault.
                        </a>
                    </div>
                </details>
            </div>
        </div>
        <!--Where to get help-->
        <div class="disposition-unit">
            <h2 class="nhsuk-heading-2">Where to get help</h2>
            <div>
                <details class="description">
                    <summary data-open="Hide" data-close="Show" data_event_trigger="click" , data_event_value="Where to get help">
                    </summary>
                    @if (Model.DosCheckCapacitySummaryResult.Success.Services.Count > 0)
                    {
                        <div class="collapse-content measure">
                            @Html.Partial("_DoSRecommendedService", Model)
                            <div class="measure">
                                @Html.Partial("_ServiceWhy", Model)
                            </div>
                            <div class="measure nhsuk-u-margin-top-4">
                                @Html.Partial("_ChangePostcode", Model)
                            </div>
                        </div>
                        dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };
                        @Html.Partial("_OtherServices", Model, dataDictionary)
                    }
                    else
                    {
                        @Html.Partial("_ActionLink", new ActionLinkViewModel() {Target = "_blank", Text = "Find rape and sexual assault referral centres", Url = "https://www.nhs.uk/service-search/other-services/Rape%20and%20sexual%20assault%20referral%20centres/LocationSearch/364" })
                    }

                    @if (IsEmergencyDepartment)
                    {
                        <div class="content-seperator content-seperator--equalvertspacing--large"></div>
                        <div class="measure">
                            <h2>If you don’t want to go to A&amp;E</h2>

                            <p>
                                Sexual assault referral centres (SARCs) have specially trained staff
                                to help if don’t want to go to your local hospital. They are not in
                                every area.
                            </p>

                            <p>
                                <a href="https://www.nhs.uk/service-search/other-services/Rape%20and%20sexual%20assault%20referral%20centres/LocationSearch/364"
                                   target="_blank" data_event_trigger="click" , data_event_value="Search for a sexual assault referral centre">
                                    Search for a sexual assault referral centre near you
                                </a>
                            </p>

                        </div>
                    }
                </details>
            </div>
        </div>
        <!--Get support and advice-->
        <div class="disposition-unit">
            <h2 class="nhsuk-heading-2">Get support and advice</h2>
            <div>
                <details class="description">
                    <summary data-open="Hide" data-close="Show" data_event_trigger="click" , data_event_value="Get support and advice">
                    </summary>
                    <div>
                        <p>
                            You can speak to charities and support groups for advice about what to
                            do. Examples of specialist voluntary services offering independent,
                            confidential advice and support are:
                        </p>
                        <ul>
                            <li>
                                <a href="https://rapecrisis.org.uk" target="_blank" data_event_trigger="click" , data_event_value="Rape crisis">
                                    Rape crisis
                                </a>
                            </li>
                            <li>
                                <a href="https://www.victimsupport.org.uk/" target="_blank" data_event_trigger="click" , data_event_value="Victim support">
                                    Victim Support
                                </a>
                            </li>
                            <li>
                                <a href="https://www.thesurvivorstrust.org/" target="_blank" data_event_trigger="click" , data_event_value="The Survivors Trust">
                                    The Survivors Trust
                                </a>
                            </li>
                            <li>
                                <a href="https://www.galop.org.uk/" target="_blank" data_event_trigger="click" , data_event_value="Galop">
                                    Galop
                                </a> &mdash; for LGBT communities
                            </li>
                            <li>
                                <a href="https://www.survivorsuk.org/" target="_blank" data_event_trigger="click" , data_event_value="Survivors UK">
                                    Survivors UK
                                </a> &mdash; for men
                            </li>
                        </ul>

                        <div class="content-seperator content-seperator--equalvertspacing--large"></div>

                        @Html.Partial("_rs_CareAdvice", Model.CareAdvices)
                    </div>
                </details>
            </div>
        </div>
    </div>
</section>

