@using NHS111.Models.Models.Web
@using NHS111.Utils.DispositionLogics
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title { Accident &amp; Emergency }
<link href="~/Content/css_NhsUK/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/Content/css_NhsUK/a-and-e.css" media="screen" rel="stylesheet" type="text/css" />

@section OuterSection{
    <div class="sub-header">
    <div>

        <h2 style="margin-bottom: 25px;font-size: 1.6em;">Your answers suggest you should go to an Accident and Emergency department within 1 hour</h2>


    </div>
</div>

}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<div class="service-booking-message alert  section-margin">
    <h3 class="care-advice-section-header">
        What if I feel worse?
    </h3>
    <p>If there are any new symptoms, or if the condition gets worse, changes or you have any other concerns, call 999 and ask for an ambulance.</p>
</div>

<div class="care-advice">
    <h3 class="care-advice-section-header">
        Advice for going to A&amp;E
    </h3>

    <ul>
        <li>do not drive yourself, get someone else to take you</li>
        <li>take all your current medicines with you</li>
        <li>if you want to take this information to A&E:
            <ul>
                <li>print this page, or</li>
                <li>save <a href="@Model.StepLink">this link</a> to get back to this page</li>
            </ul>
        </li>
    </ul>
</div>

@using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.JourneyJson)
    @Html.HiddenFor(x => Model.PathwayId)
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.SymptomGroup)
    @Html.HiddenFor(x => Model.UserInfo.Age)
    @Html.HiddenFor(x => Model.UserInfo.Gender)
    @Html.HiddenFor(x => Model.SymptomDiscriminator)
    @Html.HiddenFor(x => Model.Title)
    @Html.HiddenFor(x => Model.UserId)

    <div class="findAandE" style="clear: both; margin-bottom: 20px;">
        <h3>Find an A&amp;E department</h3>
        <div class="section-margin">
       
                @Html.LabelFor(m => m.UserInfo.CurrentAddress.PostCode, "Postcode")
                @Html.TextBoxFor(m => m.UserInfo.CurrentAddress.PostCode, new {@class = "form-control "})

                <input class="button button-next" type="submit" name="DosResults" value="Find A&amp;E departments">
          
        </div>
    </div>

}

@if (Model.CareAdvices.Any())
{
    <div class="care-advice section-margin">
        <details>
            <summary>
            <h3 class="self-care-title">I know which A&amp;E I'm going to.  What can I do in the meantime?</h3>
            </summary>
            <div class="care-advice-keywords">
                <ol>
                    @foreach (var careAdvice in Model.CareAdvices)
                    {
                        <li><a href=#Advice_@careAdvice.Id>@careAdvice.Keyword</a></li>
                    }
                </ol>
            </div>
            <div>

                @foreach (var careAdvice in Model.CareAdvices)
                {

                    <h4 id="Advice_@careAdvice.Id" class="self-care-title">@careAdvice.Keyword</h4>
                    @Html.Hidden(careAdvice.Id)
                    <ul>
                        @foreach (var parent in careAdvice.Items)
                        {
                            <li>
                                @parent.Text
                                @if (parent.Items.Any())
                                {
                                    <ul>
                                        @foreach (var child in parent.Items)
                                        {
                                            <li>@child.Text</li>
                                        }
                                    </ul>
                                }
                            </li>

                        }
                    </ul>
                }
            </div>
        </details>
    </div>
}


@using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
{
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            <div class="changeAnswers row">
                <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my answers" />
            </div>
}
