@using System.Web.Mvc.Html
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<ReferralConfirmationResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    Model.OutcomeModel.WorseningCareAdvice.Items.Add(new CareAdviceText { Text = "You don't need to send any further requests for a callback. However, if you feel worse whilst you are waiting, please call 111 now." });
    var tagPrinter = new GoogleTagManagerPrinter(null); //todo this can eventually be moved back out into the layout view where it will always have the ctor param
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.GoogleAnalyticsDataLayer)
    </script>
}
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirmation"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.OutcomeModel.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_SurveyLink", Model.OutcomeModel.SurveyLink, dataDictionary)
    }
    else
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.OutcomeModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Confirmation, Model.OutcomeModel) })
    }
}
<div class="nhsuk-core">
    @if (Model.OutcomeModel.SelectedService.OnlineDOSServiceType.Equals(OnlineDOSServiceType.ReferRingAndGo))
    {
        @Html.Partial("_Refer_And_Go", Model.OutcomeModel)
    }
    else
    {
        @Html.Partial("_Refer_only", Model.OutcomeModel)
    }
</div>