@using System.Web.Mvc.Html
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<ReferralConfirmationResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    Model.ItkConfirmationModel.WorseningCareAdvice.Items.Add(new CareAdviceText { Text = "You don't need to send any further requests for a callback. However, if you feel worse whilst you are waiting, please call 111 now." });
    var tagPrinter = new GoogleTagManagerPrinter(null); //todo this can eventually be moved back out into the layout view where it will always have the ctor param
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.GoogleAnalyticsDataLayer)
    </script>
}
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirmation"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
    }
    else
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.ItkConfirmationModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Confirmation, Model.ItkConfirmationModel) })
    }
}
<div class="nhsuk-core">
    @if (Model.OutcomeModel.SelectedService.OnlineDOSServiceType.Equals(OnlineDOSServiceType.ReferRingAndGo))
    {
        <div class="measure">
            <h1>

                Call the pharmacy before you go

            </h1>

            <div class="callout callout--attention measure nhsuk-u-margin-bottom-4">
                <p>
                    Call the pharmacy on <a href="tel:+44@Model.OutcomeModel.SelectedService.ContactDetails">@Model.ItkConfirmationModel.SelectedService.ContactDetails</a> and
                    give them this reference number:
                </p>
                <div class="reference-number">@Model.ItkConfirmationModel.PatientReference</div>
            </div>

        </div>
        @Html.Partial("_Refer_And_Go", Model.ItkConfirmationModel)
    }
    else
    {
        @Html.Partial("_Refer_only", Model.ItkConfirmationModel)
    }
</div>