@using System.Web.Mvc.Html
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<EmergencyPrescriptionDuplicateReferralResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var tagPrinter = new AnalyticsTagPrinter();
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.AnalyticsDataLayer)
    </script>
}
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "duplicate"));
    dataDictionary.Add(new KeyValuePair<string, object>("GuidedSelection", Model.OutcomeModel.ViaGuidedSelection.HasValue ? Model.OutcomeModel.ViaGuidedSelection.ToString().ToLower() : null));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (SurveyLinkFeature.IsEnabled)
    {
    @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
    }
    else
    {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.ItkConfirmationModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Confirmation, Model.ItkConfirmationModel) })
    }
}
<div class="nhsuk-core">

    <div class="callout callout--attention measure nhsuk-u-margin-bottom-4">
        <h1 class="h2">
            Your details have already been sent
        </h1>
        @if (Model.OutcomeModel.SelectedService.OnlineDOSServiceType.Equals(OnlineDOSServiceType.Callback))
        {
        <p style="margin: 0;">
            If you haven't had a call within @WebUtility.HtmlDecode(Model.ItkConfirmationModel.WaitTimeText), call 111.
        </p>
        }
    </div>

    @if (Model.OutcomeModel.SelectedService.OnlineDOSServiceType.Equals(OnlineDOSServiceType.ReferRingAndGo))
    {
    @Html.Partial("_Refer_And_Go", Model.ItkConfirmationModel)
    }
</div>