@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<SendSmsOutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUkSiteStyle.cshtml";
}
@section Title {
    NHS 111 - Thanks for providing your details
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

<div class="nhsuk-core measure">
    <h1 class="nhsuk-heading-l">Check your details</h1>
    <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Mobile number</dt>
            <dd class="nhsuk-summary-list__value">@Model.MobileNumber</dd>
        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Age</dt>
            <dd class="nhsuk-summary-list__value">@Model.Age</dd>
        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">When symptoms started</dt>
            <dd class="nhsuk-summary-list__value">@Model.SymptomsStartedDaysAgo days ago</dd>
        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Do you live alone</dt>
            <dd class="nhsuk-summary-list__value">@string.Format("{0}", Model.LivesAlone ? "Yes" : "No")</dd>
        </div>
    </dl>

    <p class="nhsuk-u-margin-top-4">You can read more about how we use your data in our <a href="https://digital.nhs.uk/coronavirus/coronavirus-covid-19-response-information-governance-hub" target="_blank" data-event-trigger="click" data-event-value="Information governance hub for Coronavirus">privacy policy (link opens in a new tab or window)</a></p>

    @using (Html.BeginForm("SendSMS", "Outcome", FormMethod.Post, new { id = "submitDetailsForm" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Partial("_commonHiddenFieldsSendsSMSViewModel", Model)
        @Html.HiddenFor(m => m.SelectedServiceId)
        <button id="book-call" class="nhsuk-u-margin-top-5 nhsuk-button">Sign up now</button>
    }
</div>

@Html.Partial("_PageLoadingIndicator")

<script>
    $(document).on('submit', '#submitDetailsForm', function () {
        startPageLoadingIndicator('Sending your details...')
    })
</script>