@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<SendSmsOutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - Thanks for providing your details
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

<div class="nhsuk-core measure">
    <h1 class="nhsuk-heading-l">Check details</h1>
    <dl class="summary-list">
        <div>
            <dt>Mobile number</dt>
            <dd>@Model.MobileNumber</dd>
        </div>

        <div>
            <dt>Age</dt>
            <dd>@Model.UserInfo.Demography.Age</dd>
        </div>

        <div>
            <dt>When symptoms started</dt>
            <dd>@Model.SymptomsStartedDate.ToString("d MMMM yyyy")</dd>
        </div>

        <div>
            <dt>Do you live alone</dt>
            <dd>@string.Format("{0}", Model.LivesAlone ? "Yes" : "No")</dd>
        </div>
    </dl>

    @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post, new { id = "changeDetailsForm" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model)
        @Html.HiddenFor(m => m.SelectedServiceId)

        <button id="change-details" class="button--link nhsuk-u-margin-top-7">Change these details</button>
    }


    @using (Html.BeginForm("Confirmation", "Outcome", FormMethod.Post, new { id = "submitDetailsForm" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model)
        @Html.Partial("_CommonHiddenFieldsCurrentAddress", Model)
        @Html.Partial("_CommonHiddenFieldsHomeAddress", Model)
        @Html.Partial("_CommonHiddenFieldsEmailAddress", Model)
        @Html.HiddenFor(m => m.SelectedServiceId)
        <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">By confirming these details you agree to share them with the service.</p>
        <button id="book-call" class="nhsuk-u-margin-top-5">Send details</button>
    }
</div>

@Html.Partial("_PageLoadingIndicator")

<script>
    $(document).on('submit', '#submitDetailsForm', function () {
        startPageLoadingIndicator('Sending you details...')
    })
</script>