@model NHS111.Models.Models.Web.DosViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Enter Personal Details
}

<link href="~/content/css_NhsUk/personaldetails.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="section-item">
        <div class="section-header">
            Your selected service
        </div>
        <div class="service-content">
            @Html.Partial("_SelectedService", Model.SelectedService)
            <div class="form-item-wrapper">
                <fieldset>
                    <div class="form-group">
                        @using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
                        {

                            @Html.Partial("_CommonHiddenFieldsDosViewModel", Model)
                            <div class="row">
                                <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my answers" />
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
{
    @Html.Partial("_CommonHiddenFieldsDosViewModel", Model)
    <section>
        <div class="section-item">
            <div class="section-header">
                Your contact information
            </div>
            <div class="personal-details-content">
                <label>
                    Full name
                </label>
                <div class="inline-details">
                    <input type="text" id="first-name" class="form-control form-control-4-chars" placeholder="First name">
                    <input type="text" id="last-name" class="form-control form-control-4-chars" placeholder="Last name">
                </div>

                <label>
                    Date of birth
                </label>
                <div class="inline-details">
                    <input type="text" id="day" class="form-control form-control-2-chars" placeholder="DD">
                    <input type="text" id="month" class="form-control form-control-2-chars" placeholder="MM">
                    <input type="text" id="year" class="form-control form-control-4-chars" placeholder="YYYY">
                </div>
                <label>
                    Contact number
                </label>
                <div class="inline-details">
                    <input type="text" id="contact-number" class="form-control" placeholder="Landline or mobile number">
                </div>
                <label>
                    Postcode of home address
                </label>
                <div class="inline-details">
                    <input type="text" id="postcode" class="form-control form-control-8-chars" placeholder="eg. SE1">
                    <a class="button find-address">Find my address</a>
                </div>
                <div class="inline-details">
                    <a class="button button-submit-details">Submit my details</a>
                </div>
            </div>
        </div>
    </section>
    @*<div class="site" id="PersonalDetails">
            <div id="ProgressBar" style="display:none">
                <ul>
                    <li class="firstChild"><span class="left">01 What's wrong </span> <img src="../../content/images/icons/breadcrumbOne.png" alt="" class="right"></li>
                    <li class="secondChild"><span class="left">02 Tell us more </span><img src="../../content/images/icons/breadcrumbTwo.png" alt="" class="right"></li>
                    <li class="lastChild"><span class="left">03 YOU ARE HERE . Next steps </span></li>
                </ul>
            </div>
            <div id="ContentWrapper">
                <div id="SubHeadWrapper">
                    <section>
                        <h2><!--<span class="roundNumbers">1</span>--> Find a healthcare provider</h2>
                        <p>Please provide these details so we can find you an available healthcare provider</p>
                    </section>
                </div>
                <div id="AboutYou">
                    <img src="../../content/images/icons/blueArrow.png" class="arrowDown" alt="">
                    <section>
                        <div id="FormWrapper">
                            <div class="row">
                                <h3>About you</h3>
                            </div>
                            <div class="row large">
                                <label>
                                    <span>First name</span>
                                    @Html.TextBoxFor(x => x.UserInfo.FirstName, new { @placeholder = "First name", @class = "example", @Value = "John" })
                                </label>
                            </div>
                            <div class="row large">
                                <label>
                                    <span>Last name</span>
                                    @Html.TextBoxFor(x => x.UserInfo.LastName, new { @placeholder = "Last name", @Value = "Blue" })
                                </label>
                            </div>
                            <div class="row" id="DOB">
                                <label>
                                    <span>Date of birth</span>
                                    @Html.TextBoxFor(x => x.UserInfo.Day, new { @placeholder = "dd", @class = "dd", @Value = "05" })
                                    @Html.TextBoxFor(x => x.UserInfo.Month, new { @placeholder = "mm", @class = "mm", @Value = "08" })
                                    @Html.TextBoxFor(x => x.UserInfo.Year, new { @placeholder = "yyyy", @class = "yy", @Value = "1970" })
                                </label>
                            </div>
                            <div class="row">
                                <h3>Your contact information</h3>
                            </div>
                            <div class="row medium">
                                <label>
                                    <span>Contact number</span>
                                    @Html.TextBoxFor(x => x.UserInfo.TelephoneNumber, new { @placeholder = "Contact number", @Value = "020334455677" })
                                </label>
                            </div>
                            <div class="row medium">
                                <label>
                                    <span>Email address</span>
                                    @Html.TextBoxFor(x => x.UserInfo.Email, new { @placeholder = "Email address", @Value = "john.blue@gmail.com" })
                                </label>
                            </div>
                            <div class="row sectionHead">
                                <p class="title">Home address</p>
                            </div>
                            @Html.Partial("_PersonalPostCodeSearch", Model.AddressSearchViewModel)
                            @Html.Partial("_AddressDetails", Model)
                            @Html.Partial("_GpSearch", Model)
                            <div class="row" id="enableDisable">
                                <input type="submit" class="button nextPage" name="DosResults" id="Next" value="Find available healthcare providers">
                            </div>
                        </div> <!--/FormWrapper-->
                    </section>
                </div> <!--/AboutYou-->
            </div> <!--/ContentWrapper-->
        </div> <!-- /site -->*@
    <script type="text/javascript">
        $(function () {
            $("#Next").click(function () {
                $("#loading").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loading');
                var spinner = new Spinner(opts).spin(target);
            });
        });
    </script>
}