@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<JourneyViewModel>
@section Title {NHS 111 Online - Emergency Prescriptions}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Emergency Prescriptions Home',
                'virtualPageTitle': 'Emergency Prescriptions Home'
            }];
    </script>
}

<h1 class="heading--large">Emergency prescriptions</h1>
<p class="measure">
    Use this service if you've completely run out of medicine you're prescribed regularly.
</p>
<p class="measure">
    A pharmacist can decide to give you a limited amount of medicine until you can get a repeat prescription from your GP.
</p>
<div class="callout callout--info measure">
    If you need medicine and you're also feeling unwell, call 111 and speak to an adviser.
</div>

@using (Html.BeginForm("Find", "Location", FormMethod.Post))
{

    @Html.HiddenFor(m => m.SessionId)
    @Html.HiddenFor(m => m.Campaign)
    @Html.HiddenFor(m => m.FilterServices)
    @Html.HiddenFor(m => m.PathwayNo)
    @Html.HiddenFor(m => m.CurrentPostcode)

    <button type="submit" class="button--next">Start</button>
}