@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@{ Layout = "~/Views/Shared/_LayoutNhsUk.cshtml"; }
@inherits NHS111.Web.Views.Shared.DirectLinkingView<QuestionInfoViewModel>

@section Title { NHS 111 Online - Question Information }

@section HeadTop {
    @{
        var url = string.Format("/QuestionInfo/{0}/", Url.Encode(Model.PathwayNo));
    }

    <script>
        var pageId = '@Model.PathwayId';
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '@url',
                'virtualPageTitle': 'Question Information'
            }];
    </script>
}

@section FeedbackSection {

    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.QuestionInformation, Model) })
}

@using (Html.BeginForm("FirstQuestion", "JustToBeSafe", FormMethod.Post, new { @class = "measure" }))
{
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.CurrentPostcode)
    @Html.HiddenFor(x => Model.Args)
    @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
    @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)

    <div class="callout callout--attention">
        <p>We’ll now ask you questions about your symptoms.</p>
        <p>
            Some might not seem relevant, but they help us rule things out. We rule
            out serious conditions first. The more questions there are the less
            serious it’s likely to be.
        </p>
    </div>

    @Html.Partial("_Button", new ButtonViewModel() { Text = "I understand", Type = "submit", Modifiers = new[] { "next" } })
}