@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DisclaimerPopupView

@section Title {NHS 111 Digital}

@section Scripts {
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/disclaimer.js"></script>
}

@{
    if (DisclaimerPopupFeature.IsEnabled) {
        <!-- toggle disclaimer popup -->
        <link rel="stylesheet" href="~/Content/css_NhsUK/modal.css">
        <script src="~/scripts/disclaimer-popup.js"></script>
    }
}

<link href="~/Content/css_NhsUK/search.css" media="screen" rel="stylesheet" type="text/css" />

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

<div id="search">

    <div id="wrapper">

        <div class="content-container search-box">
            <h2>Search by symptom</h2>
            <div class="symptoms-find-container">
                <label for="searchTags">
                    <input type="text" class="input-symptoms ui-autocomplete-input" id="searchTags" autocomplete="off" name="searchTags"/>
                </label>
                <input type="submit" class="button button-get-started" value="Search" id="searchButton"/>
            </div>

            <div id="SearchResults">
                <hr />
                <h3></h3>

                <form action="/JustToBeSafe/JustToBeSafeFirst" method="post" novalidate="novalidate">
                    <input type="hidden" id="pathwayNo" name="pathwayNo" value="" />
                    <input type="hidden" id="pathwayTitle" name="pathwayTitle" value="" />
                    <input id="UserInfo_Demography_Gender" name="UserInfo.Demography.Gender" type="hidden" value="@Model.UserInfo.Demography.Gender" />
                    <input id="UserInfo_Demography_Age" name="UserInfo.Demography.Age" type="hidden" value="@Model.UserInfo.Demography.Age" />
                    <ul></ul>
                </form>
            </div>

        </div>

    </div>



    <script>
        function GetDescription(description) {
            var result = "";
            if (description != null) {
                result = description + ".";
                result = result.replace(/\\n\\n/g, ". ");
                result = result.replace(" . ", ". ");
                result = result.replace("..", ".");
            }

            return result;
        }

        function UpdateSearchResults(searchResults) {
            if (searchResults.length < 1) {
                $("#SearchResults").show();
                $("#SearchResults h3").text("No topics found matching '" + $("#searchTags").val() + "' please try again.");
                return;
            }

            var MAX_RESULTS = 10;
            var resultCount = searchResults.length < MAX_RESULTS ? searchResults.length : MAX_RESULTS;
            $("#SearchResults").hide();
            $("#SearchResults ul").empty();
            $("#SearchResults h3").text(searchResults.length + " topics found matching '" + $("#searchTags").val() + "'");
            for (var i = 0; i < resultCount; i++) {
                var topic = searchResults[i];
                var desc = GetDescription(topic.Description);
                var additionalTopics = topic.Title.slice(1);
                var additionalTopicsText = additionalTopics.length > 0 ? ("<p class='additional-topics'>Also covers: " + additionalTopics.join(', ') + "</p>") : "";
                var li = $("<li><button type='submit' class='linkButton topicLink' id='" + topic.PathwayNo + "' data-title='" + topic.PathwayTitle + "'>" + topic.Title[0] + "</button>" + additionalTopicsText + "<p>" + desc + "</p></li>");
                $("#SearchResults ul").append(li);
            }
            $("#SearchResults").show();

        }

        $(function () {
            $("#SearchResults").hide();

            $("#searchTags").focus();

            $("#searchButton").click(
                function() {
                    $.ajax({
                        url: '@Url.Action("PathwaySearch", "Question")',
                        type: "post",
                        dataType: "json",
                        data: { searchTerm: $("#searchTags").val(), gender: '@Model.UserInfo.Demography.Gender', age: @Model.UserInfo.Demography.Age},
                        success: function(data) {
                            data = JSON.parse(data);
                            UpdateSearchResults(data);
                        },
                        error: function(textStatus, errorThrown) {
                            return null;
                        }
                    });

                    return false;
                });

            $(document).on("click", ".topicLink", function(){
                var $this = $(this);
                $('#pathwayNo').val($this.attr("id"));
                $('#pathwayTitle').val($this.data("title"));
            });

            $('.category').click(function () {
                var $this = $(this);

                var $helpTextLinkMessage = $this.parent().next('.content');
                $helpTextLinkMessage.slideToggle("fast");
            });

        });
    </script>
</div>
