@using System.Configuration
@using AutoMapper.Internal
@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DisclaimerPopupView

@section Title {NHS 111 Digital}

@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/disclaimer.js"></script>
}

@{
    if (DisclaimerPopupFeature.IsEnabled)
    {
        <!-- toggle disclaimer popup -->
        <link rel="stylesheet" href="~/Content/css_NhsUK/modal.css">
        <script src="~/scripts/disclaimer-popup.js"></script>
    }
}

@functions {

    public class PathwayLink {
        public string Title { get; set; }
        public string PathwayNumbers { get; set; }
    }

    private IEnumerable<PathwayLink> GroupAndSortPathways(IEnumerable<PathwayWithDescription> pathways) {
        return (from groups in pathways.GroupBy(p => p.Pathway.Title)
                select new PathwayLink {
                    Title = groups.FirstOrDefault().PathwayData.DigitalTitle,
                    PathwayNumbers = string.Join(",", groups.Select(t => t.Pathway.PathwayNo).Distinct())
                }).OrderBy(x => x.Title);
    }

}
<link href="~/Content/css_NhsUK/search.css" media="screen" rel="stylesheet" type="text/css" />

@section FeedbackSection {
                @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

<div id="search">



    <div id="wrapper">

        <div class="content-container">
            <div>
                <!--<div id="linkBodySearch"> <a href="#" title="Try our body search instead"><span title="Try our body search" class="left">Try our body</span> <span class="bgIcon"></span> <span class="left">search instead </span></a>
                </div>-->
                @using (Html.BeginForm("JustToBeSafeFirst", "JustToBeSafe", FormMethod.Post))
            {
                    @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
                    @Html.HiddenFor(x => Model.UserInfo.Demography.Age)

                    <input type="hidden" id="pathwayNo" name="pathwayNo" value="" />
                    <input type="hidden" id="pathwayTitle" name="pathwayTitle" value="" />
                    <div class="symptoms-find-header">
                        <h2>Search by symptom</h2>
                    </div>
                    <div class="symptoms-find-container">
                        <div class="symptoms-search">
                            <label for="searchTags">
                                <input type="text" class="input-symptoms ui-autocomplete-input" id="searchTags" autocomplete="off" name="searchTags" />
                            </label>
                            @* @Html.ActionLink("GO","Gender","Question", new {@class = "go"})*@
                            <input type="submit" class="button button-get-started" value="Search" id="searchButton" />
                        </div>
                    </div>
                    <hr/>
                    <div id="SearchResults">
                        <h3></h3>
                        <ul></ul>
                    </div>

                    <div class="all-symptoms">
                        @{
                            var bodyParts = new List<string> {"Head and neck", "Shoulder, arm and hand", "Chest and back", "Abdomen, groin and side of the body", "Bowel and urinary problems", "Genitals", "Leg and foot", "Skin and hair"};
                            var lists = new List<IEnumerable<CategoryWithPathways>>(2);
                            lists.Add(Model.AllTopics.Where(t => bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
                            lists.Add(Model.AllTopics.Where(t => !bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
                            //var orderLists = Model.AllTopics.OrderBy(c => c.Category.Title);
                            //lists.Add(orderLists.Take((orderLists.Count() / 2)));
                            //lists.Add(orderLists.Skip(lists[0].Count()));
                        }


                        <h2>Find a topic</h2>


                        @for (int i = 0; i < lists.Count; ++i)
                        {
                            <div class="@Html.Raw(i == 0 ? "left" : "right")">
                                <h3>@Html.Raw(i == 0 ? "Body" : "General")</h3>
                                <ul>
                                    @foreach (var topLevelCategory in lists[i]) {
                                        <li>
                                            <h5><a class="category linkButton bullet" href="javascript:void(0);">&bull; <span class="underline" id="@topLevelCategory.Category.Id">@topLevelCategory.Category.Title</span></a></h5>
                                            @if (topLevelCategory.SubCategories != null && topLevelCategory.SubCategories.Any()) {
                                                <ul class="content">
                                                    @foreach (var subCategory in topLevelCategory.SubCategories.OrderBy(x => x.Category.Title)) {
                                                        if (!subCategory.Pathways.Any()) {
                                                            continue;
                                                        }
                                                        <li>
                                                            <h5><a class="category linkButton bullet" href="javascript:void(0);">&bull; <span class="underline" id="@subCategory.Category.Id">@subCategory.Category.Title</span></a></h5>
                                                            <ul class="content">
                                                                @foreach (var pathway in subCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle)) {
                                                                    <li><input type="submit" class="linkButton" value="@pathway.PathwayData.DigitalTitle" id="@pathway.Pathway.PathwayNo" digital-id="@pathway.PathwayData.DigitalTitleId"/></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            @if (topLevelCategory.Pathways != null && topLevelCategory.Pathways.Any()) {
                                                <ul class="content">
                                                    @foreach (var pathway in topLevelCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle)) {
                                                        <li><input type="submit" class="linkButton" value="@pathway.PathwayData.DigitalTitle" id="@pathway.Pathway.PathwayNo" digital-id="@pathway.PathwayData.DigitalTitleId"/></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>


                            }


            </div>
            <!--content end-->

        </div>



    </div>

    <!--wrapper ends-->


    <script>
    // -- search box autocomplete mock script
        $(function () {

            $("#searchTags").focus();

            $("#searchButton").click(
            function() {
                $.ajax({
                    url: '@Url.Action("PathwaySearch", "Question")',
                    type: "post",
                    dataType: "json",
                    data: { searchTerm: $("#searchTags").val(), gender: '@Model.UserInfo.Demography.Gender', age: @Model.UserInfo.Demography.Age},
                    success: function(data) {
                        data = JSON.parse(data);
                        $("#SearchResults").hide();
                        $("#SearchResults ul").empty();
                        $("#SearchResults h3").text(data.length + " topics found matching '" + $("#searchTags").val() + "'");
                        for (var i = 0; i < 10; i++) {
                            var topic = data[i];
                            var desc = "";
                            if (topic.Description != null) {
                                desc = topic.Description;
                                desc = desc.replace(/\\n\\n/g, ". ");
                                desc = desc.replace(" . ", ". ");
                            }
                            var li = $("<li><input type='submit' class='linkButton' value='" + topic.PathwayTitle + "' id='" + topic.PathwayNumber + "'><p>" + desc + "</p></li>");
                            $("#SearchResults ul").append(li);
                        }
                        $("#SearchResults").show();
                    },
                    error: function(textStatus, errorThrown) {
                        return null;
                    }
                });

                return false;
            });

        $('.category').click(function () {
            var $this = $(this);

            var $helpTextLinkMessage = $this.parent().next('.content');
            $helpTextLinkMessage.slideToggle("fast");
        });

    });
    </script>
</div>
