@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.JourneyViewModel

@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title
{NHS 111 Digital}

@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/content/Js/vendor/jquery.nouislider.all.min.js"></script>
    <script src="~/scripts/custom.js"></script>

}
<link href="~/Content/css_NhsUK/slider.css" media="screen" rel="stylesheet" type="text/css"/>

    <div id="wrapper">
        <div class="content-container">

            <div id="content">
                @using (Html.BeginForm("JustToBeSafeFirst", "JustToBeSafe", FormMethod.Post, new { @id = "outerContent" }))
                {
                    @Html.HiddenFor(x => Model.PathwayId)
                    @Html.HiddenFor(x => Model.PathwayNo)
                    @Html.HiddenFor(x => Model.PathwayTitle)
                    @Html.HiddenFor(x => Model.UserInfo.Age)
                    @Html.HiddenFor(x => Model.UserInfo.Gender)
                    @Html.HiddenFor(x => Model.StateJson)

                    <div id="sliderContent">

                        <h2>A few more details about your @Html.Raw(Model.PathwayTitle)</h2>

                            <div id="sliderTop">
                                <p class="sliderHeading">How severe are your symptoms?</p>
                                <div class="radio-slider radio-symptom-severity radio-init">

                                    <input type="radio" id="severity1" name="symptomSeverity" value="1 (mild)" />
                                    <label class="hover" for="severity1"><span>Mild</span></label>

                                    <input type="radio" id="severity2" name="symptomSeverity" value="2">
                                    <label class="hover" for="severity2"><span>2</span></label>

                                    <input type="radio" id="severity3" name="symptomSeverity" value="3">
                                    <label class="hover" for="severity3"><span>3</span></label>

                                    <input type="radio" id="severity4" name="symptomSeverity" value="4">
                                    <label class="hover" for="severity4"><span>4</span></label>

                                    <input type="radio" id="severity5" name="symptomSeverity" value="5">
                                    <label class="hover" for="severity5"><span>5</span></label>

                                    <input type="radio" id="severity6" name="symptomSeverity" value="6">
                                    <label class="hover" for="severity6"><span>6</span></label>

                                    <input type="radio" id="severity7" name="symptomSeverity" value="7">
                                    <label class="hover" for="severity7"><span>7</span></label>

                                    <input type="radio" id="severity8" name="symptomSeverity" value="8">
                                    <label class="hover" for="severity8"><span>8</span></label>

                                    <input type="radio" id="severity9" name="symptomSeverity" value="9">
                                    <label class="hover" for="severity9"><span>9</span></label>

                                    <input type="radio" id="severity10" name="symptomSeverity" value="10 (severe)">
                                    <label class="hover" for="severity10"><span>Severe</span></label>

                                </div>

                                <aside class="reasoning">
                                    <h3>Did you know?</h3>

                                    <p>Many mild illnesses and minor injuries are treatable at home, but sometimes things are more serious and you might need to see a doctor or even go to hospital.</p>

                                    <p> <a href="#" title="Find out more" class="arrorRight">Find out more ></a></p>
                                </aside>
                                <div id="sliderBottom">
                                    <p class="sliderHeading">How long have you had these symptoms?</p>
                                    <div>
                                        <div class="radio-slider radio-symptom-length radio-init">

                                            <input type="radio" id="symptomlength1" name="symptomlength" value="1" />
                                            <label class="hover" for="symptomlength1"><span>1 day</span></label>

                                            <input type="radio" id="symptomlength2" name="symptomlength" value="2"/>
                                            <label class="hover" for="symptomlength2"><span>2</span></label>

                                            <input type="radio" id="symptomlength3" name="symptomlength" value="3"/>
                                            <label class="hover" for="symptomlength3"><span>3</span></label>

                                            <input type="radio" id="symptomlength4" name="symptomlength" value="4"/>
                                            <label class=" hover" for="symptomlength4"><span>3</span></label>

                                            <input type="radio" id="symptomlength5" name="symptomlength" value="5"/>
                                            <label class="hover" for="symptomlength5"><span>5</span></label>

                                            <input type="radio" id="symptomlength6" name="symptomlength" value="6" />
                                            <label class="hover" for="symptomlength6"><span>6</span></label>

                                            <input type="radio" id="symptomlength7" name="symptomlength" value="7" />
                                            <label class=" hover" for="symptomlength7"><span>7</span></label>

                                            <input type="radio" id="symptomlength8" name="symptomlength" value="8" />
                                            <label class="hover" for="symptomlength8"><span>8 days</span></label>

                                        </div>

                                    </div>
                                    <p class="painDays">
                                        <span class="display-box" id="slider-step-value"></span> Day(s)
                                    </p>
                                </div>
                            </div><!--/columnOne-->


                        <input class="button" id="nextScreen" type="submit" value="Next" />
                    </div>
                    <!--/sliderContent-->
                }
            </div>
            <!--content end-->

        </div>
        <footer>
            <div class="footerWrapper">
                <div class="footerMeta"> </div>
            </div>
        </footer>
    </div>
    <!--wrapper ends-->
    <div id="mobileScroller">
        <div style="display:none;" class="nav_up" id="nav_up"></div>
        <div style="display:none;" class="nav_down" id="nav_down"></div>
    </div>


  @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })


    <script>

        $('.radio-init input').click(function () {
            $(this).parent('.radio-init').removeClass("radio-init");
     
        });

        var selectedLength = null;
        $('.radio-symptom-length label').mouseover(function () {
            var val = $(this).prev('input').val();
            $('#slider-step-value').text(val);
        });

        $('.radio-symptom-length label').mouseout(function () {
            if (selectedLength) $('#slider-step-value').text(selectedLength);
            else $('#slider-step-value').text('');
        });

        $('.radio-symptom-length input').click(function () {
             selectedLength = $(this).val();
             $('#slider-step-value').text(selectedLength);
        });

    </script>


