@using NHS111.Models.Models.Business.PathwaySearch
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.SearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Categories}
@section EmergencyAlert{
    @if (EmergencyAlertFeature.IsEnabled)
    {
        @Html.Partial("_EmergencyAlert", new EmergencyAlertViewModel { SessionId = Model.SessionId })
    }
}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.Categories, Model)
    })
}

<div id="categories" class="search-typography">
    @{
        var encryptedQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
    }
    <a class="search__button--back" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Search?args=@encryptedQueryStringValues">Back to search</a>
    <h1 class="heading--large">Topics by category</h1>
    <div class="search__categories">
        @foreach (var topLevelCategory in Model.Categories.OrderBy(p => p.Category.OrderNo))
        {
            <a class="search__category" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Category/@topLevelCategory.Category.Title/?args=@encryptedQueryStringValues">@topLevelCategory.Category.Title</a>
        }
    </div>
</div>

<details class="measure search-typography">
    <summary data-event-trigger="click" data-event-value="I can't find the right topic"><span class="details__arrow" role="presentation"></span> I can’t find the right topic</summary>
    <div>
        <p>You can <a href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Search?args=@encryptedQueryStringValues">search</a> or <a id="show-categories" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Pathways?args=@encryptedQueryStringValues">browse the full list of topics.</a></p>
        @Html.Partial("_ExternalInformation")
        <p>If you don’t know what to look for you can <a data-pathway-number="@Model.GetOtherProblemsPathway(Model.UserInfo).Id" href="/@Model.GetOtherProblemsPathway(Model.UserInfo).PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedQueryStringValues">rule out serious conditions.</a></p>
    </div>
</details>

