@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<SearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title  {NHS 111 Online - Coronavirus (COVID-19) symptoms }

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': '/explainer',
                'virtualPageTitle': 'Coronavirus (COVID-19) symptoms Page'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.Explainer, Model)
    })
}

<div class="content-block measure">
    @using (Html.BeginForm("GuidedSelection", "Search", FormMethod.Post))
    {
        var encryptedArgs = KeyValueEncryptor.EncryptedKeys(Model);
        @Html.HiddenFor(x => Model.SanitisedSearchTerm)
        @Html.HiddenFor(x => Model.IsCovidJourney)
        @Html.Hidden("gender", Model.UserInfo.Demography.Gender)
        @Html.Hidden("age", Model.UserInfo.Demography.Age)
        @Html.Hidden("args", encryptedArgs)
        <button class="button--link search__button--back">Back</button>
    }

    <h1 class="nhsuk-heading-l">
        It’s unlikely you have COVID-19
    </h1>

    <p>
        As you did not pick any of the symptoms, we don’t need to ask you questions
        about coronavirus.
    </p>
    
    @using (@Html.BeginForm("Search", "Search", FormMethod.Post))
    {
        @Html.HiddenFor(x => Model.SessionId)
        @Html.HiddenFor(x => Model.CurrentPostcode)
        @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
        @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
        @Html.HiddenFor(m => Model.FilterServices)
        @Html.HiddenFor(x => Model.Campaign)
        @Html.HiddenFor(x => Model.Source)
        <p>
            If you have other symptoms, find the topic that most closely applies.
        </p>

        @Html.Partial("_ActionButton", new ActionLinkViewModel() { Text = "Find a topic", EventTrigger = "click", EventValue = "Find a topic from coronavirus explainer page" })
    }
</div>
