@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.GuidedSearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Covid Guided Selection Page}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': '/GuidedSelection?q=@Model.SanitisedSearchTerm',
                'virtualPageTitle': 'Covid Guided Selection Page'
            }];
    </script>
}

@{
    var previousAction = Model.IsCovidJourney ? "InitialQuestion" : "Search";
    var previousController = Model.IsCovidJourney ? "Question" : "Search";
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.GuidedSelection, Model)
    })
}

<div class="measure">
    @using (Html.BeginForm(previousAction, previousController, FormMethod.Post))
    {
        @Html.HiddenFor(m => Model.SessionId)
        @Html.HiddenFor(m => Model.UserInfo.Demography.Age)
        @Html.HiddenFor(m => Model.UserInfo.Demography.Gender)
        @Html.HiddenFor(m => Model.CurrentPostcode)
        @Html.HiddenFor(m => Model.FilterServices)
        @Html.HiddenFor(x => Model.Campaign)
        @Html.HiddenFor(x => Model.Source)
        @*@Html.HiddenFor(x => Model.SanitisedSearchTerm)*@
        @Html.HiddenFor(x => Model.IsCovidJourney)
        <button class="button--link search__button--back">Back</button>
    }
    <h2 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-l">
            Coronavirus (COVID-19)
        </span>
        Choose the 1 thing that’s bothering you most:
    </h2>
    <div class="form-group nhsuk-u-margin-top-2">
        @using (Html.BeginForm("Search", "Search", FormMethod.Post))
        {
            @Html.HiddenFor(m => Model.SessionId)
            @Html.HiddenFor(m => Model.UserInfo.Demography.Age)
            @Html.HiddenFor(m => Model.UserInfo.Demography.Gender)
            @Html.HiddenFor(m => Model.CurrentPostcode)
            @Html.HiddenFor(m => Model.FilterServices)
            @Html.HiddenFor(x => Model.Campaign)
            @Html.HiddenFor(x => Model.Source)
            @Html.HiddenFor(x => Model.SanitisedSearchTerm)
            @Html.HiddenFor(x => Model.ViaGuidedSearch) // CHANGE THIS TO INDICATE IF NO WAS CHOSEN
            @Html.Hidden("DisplayLoadingPage")
            <fieldset>
                @foreach (var result in Model.GuidedResults)
                {
                    <div class="multiple-choice">
                        <input name="PathwayNo" data-val="true" data-val-required="'PathwayNo' should not be empty." type="radio" class="multiple-choice__input" id="@result.GuidedTitleWithoutSpaces" value="@result.PathwayNo" />
                        <label for="@result.GuidedTitleWithoutSpaces" class="multiple-choice--radio">
                            <strong>@result.GuidedTitle</strong>
                            <p>@result.GuidedDescription</p>
                        </label>
                    </div>
                }
                <div class="multiple-choice">
                    <input name="PathwayNo" data-val="true" data-val-required="'PathwayNo' should not be empty." type="radio" class="multiple-choice__input" id="noneofthese" value="none" />
                    <label for="noneofthese" class="multiple-choice--radio"><strong>None of these</strong></label>
                </div>
                <button class="button--next button--spinner" id="nextScreen" type="submit" name="GuidedSelection" value="GuidedSelection">Next @Html.Partial("_InlineSpinner")</button>
            </fieldset>
        }
    </div>
</div>