@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.GuidedSearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Covid Guided Selection Page}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm',
                'virtualPageTitle': 'Covid Guided Selection Page'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.SearchResults, Model)
    })
}

@Html.HiddenFor(m => Model.SessionId)
@Html.HiddenFor(m => Model.UserInfo.Demography.Age)
@Html.HiddenFor(m => Model.UserInfo.Demography.Gender)
@Html.HiddenFor(m => Model.CurrentPostcode)
@Html.HiddenFor(m => Model.FilterServices)
@Html.HiddenFor(x => Model.Campaign)
@Html.HiddenFor(x => Model.Source)
@Html.HiddenFor(x => Model.IsCustomJourney)
@Html.HiddenFor(x => Model.SanitisedSearchTerm)

<div id="SearchResults" class="measure search-typography">
    <h1>Choose the 1 thing that's bothering you most:</h1>
    @foreach (var result in Model.Results)
    {
        <div class="multiple-choice">
            <input name="SelectedAnswer" data-val="true" data-val-required="'SelectedAnswer' should not be empty." type="radio" class="multiple-choice__input" id="@result.PathwayTitle" value="" checked="" />
            <label for="@result.PathwayTitle" class="multiple-choice--radio"><strong>@result.Title.First()</strong><p>@result.Description</p></label>
        </div>
    }
</div>
