@using NHS111.Models.Models.Business.PathwaySearch
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.SearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Best applies}
@section EmergencyAlert{
    @if (EmergencyAlertFeature.IsEnabled)
    {
        @Html.Partial("_EmergencyAlert", new EmergencyAlertViewModel { OverrideDisplay = IsCoronaPathway })
    }
}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.SearchResults, Model)
    })
}
<div id="SearchResults" class="measure search-typography">
    <div>
        @{
            var encryptedQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
        }
        @Html.Partial("_SearchBox", Model, ViewData)
        <p class="form-hint">@Model.Results.Count() topics found. If you have more than 1 symptom, pick the topic for the one that’s bothering you most today.</p>
        <ul class="link-list link-list--results">
            @foreach (var result in Model.Results)
            {
                var additionalTopics = result.DisplayTitle != null ? result.DisplayTitle.Skip(1) : new List<string>();
                var title = result.DisplayTitle != null ? result.DisplayTitle.First() : result.Title.First();
                Model.DigitalTitle = PathwaySearchResult.StripHighlightMarkup(title);

                var encryptedQueryStringValuesSearchResult = KeyValueEncryptor.EncryptedKeys(Model);
                <li>

                    <a class="search__topic" data-title="@result.PathwayTitle" data-pathway-number="@result.PathwayNo" href="/@result.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedQueryStringValuesSearchResult.ToString()">
                        <span class="search__topic-title">@Html.Raw(title)</span>
                        @if (additionalTopics.Any())
                        {
                            <p class="search__topic-covers">Checks for things like: @Html.Raw(string.Join(", ", additionalTopics))</p>
                        }
                        <p class="search__topic-description">@Html.Raw(result.Description)</p>
                    </a>
                </li>
            }
        </ul>

        <details>
            <summary data-event-trigger="click" data-event-value="I can't find the right topic"><span class="details__arrow" role="presentation"></span> I can’t find the right topic</summary>
            <div>
                <p>
                    You can browse <a id="show-categories" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Categories?args=@encryptedQueryStringValues">topics by category.</a>
                </p>

                @Html.Partial("_ExternalInformation")

                <p>If you don’t know what to look for you can <a data-pathway-number="@Model.GetOtherProblemsPathway(Model.UserInfo).PathwayNo" href="/@Model.GetOtherProblemsPathway(Model.UserInfo).PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedQueryStringValues">rule out serious conditions.</a></p>

            </div>
        </details>
    </div>
</div>
