@using NHS111.Models.Models.Business.PathwaySearch
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@model NHS111.Models.Models.Web.SearchJourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Best applies}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.SearchResults, Model)
    })
}
<div id="SearchResults" class="measure">
    @if (Model.Results.Any())
    {
    <div>
        @Html.Partial("_SearchBox", Model, ViewData)
        <p class="form-hint">@Model.Results.Count() topics found. If you have more than 1 symptom, pick the topic for the one that’s bothering you most today.</p>
        <ul class="link-list link-list--results">
            @foreach (var result in Model.Results)
            {
                var additionalTopics = result.DisplayTitle != null ? result.DisplayTitle.Skip(1) : new List<string>();
                var title = result.DisplayTitle != null ? result.DisplayTitle.First() : result.Title.First();
                Model.DigitalTitle = PathwaySearchResult.StripHighlightMarkup(title);
                var encryptedJtbsQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);

                <li>

                    <a data-title="@result.PathwayTitle" data-pathway-number="@result.PathwayNo" href="/@result.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedJtbsQueryStringValues.ToString()">
                        <span class="search__topic-title">@Html.Raw(title)</span>
                        @if (additionalTopics.Any())
                        {
                            <p>Includes: @Html.Raw(string.Join(", ", additionalTopics))</p>
                        }
                        <p class="search__topic-description">@Html.Raw(result.Description)</p>
                    </a>
                </li>
            }
        </ul>

        @{
            var encryptedTopicsQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
        }

        <details>
            <summary><span class="details__arrow" role="presentation"></span> I can’t find the right topic</summary>
            <div>
                <p>
                    You can browse <a id="show-categories" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Topics?args=@encryptedTopicsQueryStringValues">topics by category.</a>
                </p>

                <div class="callout callout--info">
                    <p>On <a href="https://nhs.uk">NHS.UK</a> you can:</p>
                    <ul>
                        <li>
                            find out how to get an <a href="https://www.nhs.uk/chq/Pages/1011.aspx?CategoryID=73">emergency prescription</a>
                        </li>
                        <li>
                            read more about <a href="https://beta.nhs.uk/medicines/">medicines</a>
                        </li>
                        <li>
                            get information on a <a href="https://www.nhs.uk/conditions/">health problem or condition</a>
                        </li>
                        <li>
                            look up <a href="https://www.nhs.uk/service-search">opening times and addresses</a> for NHS services
                        </li>
                    </ul>
                </div>


                <p>
                    If you don’t know what to look for you can <a href="/PW1346/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedTopicsQueryStringValues">rule out serious conditions.</a>
                </p>
            </div>
        </details>
    </div>
    }
</div>

<hr />