@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Business.PathwaySearch
@model SearchJourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Tell us the symptom}

@section Scripts {
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/scripts/custom.js")"></script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/scripts/disclaimer.js")"></script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

<div id="search">

    <div id="wrapper">
        <div class="content-container search-box @(@ViewData.ModelState.IsValidField("SanitisedSearchTerm") ? "" : "form-group-error")">
            @using (Html.BeginForm("SearchResults", "Search", FormMethod.Post))
            {
                @Html.HiddenFor(m => Model.UserInfo.Demography.Age)
                @Html.HiddenFor(m => Model.UserInfo.Demography.Gender)
                @Html.HiddenFor(m => Model.FilterServices)
                <h1 class="heading-large">
                    @Html.LabelFor(m => m.SanitisedSearchTerm, "Tell us the symptom you’re concerned about")
                    <span class="form-hint">For example, headache, swollen knee or rash</span>
                </h1>
                @Html.ValidationMessageFor(m => m.SanitisedSearchTerm, "Please enter the symptom you're concerned about", new { @class = "error-message" })
                <div class="symptoms-find-container">
                    @Html.TextBoxFor(m => m.SanitisedSearchTerm, new { @autocomplete = "off", @class = "form-textbox" })
                    <button type="submit" class="button button--next" value="Search" id="searchButton">Next</button>
                </div>
            }
        </div>

    </div>
</div>

<script type="text/javascript">

    $.validator.setDefaults({
        highlight: function (element, errorClass, validClass) {
            $(element).closest(".content-container").addClass("form-group-error");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".content-container").removeClass("form-group-error");
        }
    });

</script>