@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - Call 111 and speak to a nurse
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': '@Model.TitleWithoutBullets'
            }];
    </script>
}


@Html.HiddenFor(x => Model.Id)


<div class="nhsuk-core measure">

    <button class="button--stacked button--link nhsuk-back-link__link nhsuk-u-margin-bottom-5" id="previousScreen" type="submit" value="PreviousQuestion" name="PreviousQuestion" formnovalidate>
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </button>

    <h2 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l">
            Coronavirus (COVID-19) symptoms
        </span>
        If you have none of the symptoms listed
    </h2>

    <p>
        The main symptoms of coronavirus are:
    </p>
    <ul>
        <li>a new continuous cough</li>
        <li>high temperature</li>
        <li>loss or change in sense of smell or taste</li>
    </ul>

    <div class="callout callout--info">
        <p>
            If you have symptoms like a runny nose or diarrhoea , they are not usually enough on their own to suggest coronavirus.
        </p>
    </div>

    <br>

    <p>
        The chief medical officer will decide if the symptoms in the list should change as we find out more about the virus.
    </p>

    <hr>

    @using (@Html.BeginForm("Search", "Search", FormMethod.Post))
    {
        @Html.HiddenFor(x => Model.SessionId)
        @Html.HiddenFor(x => Model.CurrentPostcode)
        @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
        @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
        <p>
            If you have other symptoms, find the topic that most closely applies.
        </p>

        @Html.Partial("_ActionButton", new ActionLinkViewModel() { Text = "Find a topic", EventTrigger = "click", EventValue = "Find a topic from explainer of doom page" })
    }
</div>
