@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - Isolate yourself and stay indoors then call 999
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': '@Model.TitleWithoutBullets'
            }];
    </script>
}


@Html.HiddenFor(x => Model.Id)


<div id="wrapper" class="measure">
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <button id="PreviousQuestionFromOutcome" class="search__button--back" type="submit" value="PreviousQuestion" name="PreviousQuestion" formnovalidate>Back</button>
    }


    <div class="nhsuk-core measure">

        <h1 class="heading--alert nhsuk-heading-xl">@Model.OutcomeGroup.Text</h1>

        <div class="callout callout--alert nhsuk-u-margin-bottom-6">
            <p>
              You <b>must</b> tell the operator that you might have coronavirus symptoms.
            </p>
        </div>

        <p>The 999 operator will ask:</p>
        <ul>
            <li>where you are</li>
            <li>for your phone number in case you get cut off</li>
        </ul>

        <p>
            The ambulance crew might arrive wearing protective clothing so that the
            virus is not spread.
        </p>

        <p>
            <b>Do not</b> go to a GP or hospital instead of calling for an ambulance.
        </p>

    </div>



</div>
