@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var noITKServicesAreAvailable = Model.DosCheckCapacitySummaryResult.ResultListEmpty || Model.DosCheckCapacitySummaryResult.Success.Services.All(s => !s.OnlineDOSServiceType.IsReferral);
}

@section Title { NHS 111 - Speak to a clinician }

@section HeadTop {
    @{
        var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id));
        var title = Model.TitleWithoutBullets;
        if (title == null) { title = "ITK Clinician callback - no results"; }
    }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@title'
        }];
    </script>
}

@{
    var surveyDataDictionary = ViewContext.ViewData;
    surveyDataDictionary.Add(new KeyValuePair<string, object>("ServiceOptions", ""));
    surveyDataDictionary.Add(new KeyValuePair<string, object>("ServiceCount", 0));
}

@if (noITKServicesAreAvailable && Model.CurrentPostcode != null)
{
    <section class="nhsuk-core measure">
        <h1>Call 111 and speak to a nurse</h1>
        
        <div class="callout callout--lite callout--warning nhsuk-u-margin-bottom-4">
            <p>The phone service will be very busy but you <b>must</b> wait to speak to someone. Tell 111 that you are calling about coronavirus symptoms.</p>
        </div>
        
        <p>Your symptoms suggest that you might have a coronavirus infection.</p>
        <p>The nurse will:</p>
        <ul>
            <li>
                ask you more about your symptoms
            </li>
            <li>
                tell you what to do next
            </li>
        </ul>

        <div class="callout callout--info callout--lite nhsuk-u-margin-bottom-4">
            <p>You need to stay away from other people until you have spoken to 111.</p>
            <p>
                <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
                    Read more stay at home advice on NHS.UK.
                </a>
            </p>
        </div>
        
        <div class="callout callout--attention nhsuk-u-margin-bottom-7">
            <p>To protect others, <b>do not go</b> to a GP, pharmacy or hospital</p>
        </div>

        @Html.Partial("_GetIsolationNote")
    </section>
}
else
{
<section class="nhsuk-core measure">
    <h1>Book a call with a 111 nurse</h1>
    <p>A nurse from the COVID clinical response service needs to speak to you.</p>

    <p>When you book a call the nurse will:</p>
    <ul>
        <li>
            know the answers you have already given
        </li>
        <li>
            ask you some more questions about your symptoms and current health
        </li>
    </ul>

    <p>It's important that you speak to the nurse. You should get a call within @Html.Raw(Model.TimeFrameText) hours. The 111 service is very busy, so it could take longer than usual.</p>

    
    <div class="callout callout--info callout--lite nhsuk-u-margin-bottom-4">
        <p>You need to stay away from other people.</p>
        <p>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
                Read more stay at home advice on NHS.UK.
            </a>
        </p>
    </div>
    
    <div class="callout callout--attention nhsuk-u-margin-bottom-4">
        <p>To protect others, <b>do not go</b> to a GP, pharmacy or hospital</p>
    </div>

    @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Hidden("SelectedServiceId", Model.DosCheckCapacitySummaryResult.Success.Services.First(s => s.OnlineDOSServiceType.IsReferral).Id)
        <button type="submit" name="PersonalDetails" value="Book a call">Book a nurse call</button>
    }

</section>
}