@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    ViewBag.Title = "See your GP";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title { NHS 111 - More ways to get help }

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': 'More ways to get help'
        }];
    </script>
}

@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<section class="measure nhsuk-core">
    @using (Html.BeginForm("DispositionWithServices", "Outcome", FormMethod.Post))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        <button class="button--link search__button--back">Back</button>
    }

    <div class="callout callout--attention nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-l @(Model.OutcomeGroup.Equals(OutcomeGroup.GP) ? "nhsuk-u-visually-hidden" : "")">More ways to get help</h1>

        @if (Model.OutcomeGroup.Equals(OutcomeGroup.ItkPrimaryCare)) {
            using (Html.BeginForm("ServiceList", "Outcome", FormMethod.Post)) {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model, new ViewDataDictionary() {TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "FindService"}})
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model, new ViewDataDictionary() {TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "FindService"}})
                <p class="nhsuk-u-margin-bottom-0">
                    If you don't have a GP, see <button class="button--link" id="other-services" type="submit" value="OtherServices" name="OtherServices" formnovalidate>other things you can do</button>.
                </p>
            }
        }
        else if (Model.OutcomeGroup.Equals(OutcomeGroup.GP)) {
            if (ViewData["Route"].ToString() == "Outcome/RegisterWithGp") {
                <p> Find out <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/how-to-register-with-a-gp-practice/">how to register with a GP</a> if you don't already have one.</p>
            }
            else if (ViewData["Route"].ToString() == "Outcome/RegisterWithTempGp") {
                <p>If you're away from home and can't get an appointment with your GP, you can <a href="https://www.nhs.uk/common-health-questions/nhs-services-and-treatments/how-do-i-register-as-a-temporary-resident-with-a-gp/">see any local GP on a temporary basis.</a></p>
            }
        }
    </div>

    @if (Model.OutcomeGroup.Equals(OutcomeGroup.ItkPrimaryCare) && ViewData["Route"].ToString() == "Outcome/RegisterWithGp") {
        <details class="measure">
            <summary><span class="details__arrow" role="presentation"></span>How to register with a GP</summary>
            <div>
                <p>Find out <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/how-to-register-with-a-gp-practice/">how to register with a GP</a> if you don't already have one.</p></div>
        </details>
    }

    <hr role="presentation" class="nhsuk-u-margin-top-6"/>


    @Html.Partial("_rs_CareAdvice", Model.CareAdvices)
    @Html.Partial("_rs_WorseningAdvice", Model)

</section>