@using AutoMapper
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<ITKConfirmationViewModel>
@using Newtonsoft.Json
@{
    var recommendedService = Mapper.Map<RecommendedServiceViewModel>(Model.SelectedService);
}
<div class="service-details-container nhsuk-u-margin-bottom-4">
    <div class="service-details">
        <div class="service-details__address">
            <p>
                @Html.Raw(recommendedService.GetServiceDisplayHtml())
            </p>
            <p>
                <a title="Telephone number" href="tel:@recommendedService.ContactDetails">@recommendedService.ContactDetails</a>
            </p>
        </div>
        <div class="service-details__hours">
            @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
        </div>
    </div>
    <div class="service-details cards--goto">
        <p class="service-details__distance nhsuk-u-margin-bottom-0">
            @WebUtility.HtmlDecode(recommendedService.Distance) miles away
        </p>
        <div class="service-details__directions">
            @using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.JourneyId)
                @Html.HiddenFor(m => m.JourneyJson)
                @Html.HiddenFor(m => m.Id)
                @Html.Hidden("SelectedServiceId", recommendedService.Id)
                @Html.Hidden("SelectedServiceName", recommendedService.Name)
                @Html.Hidden("SelectedServiceAddress", recommendedService.Address)
                <button class="button--link card__directions--fallback" type="submit" data-event-trigger="click" data-event-value="Get directions fallback">Get directions</button>
                <p><a class="card__directions" style="display: none;" target="_blank" href="@string.Format("https://www.google.com/maps/dir/?api=1&origin={0}&destination={1}", Model.CurrentPostcode, recommendedService.Address)" data-event-trigger="click" data-event-value="Get directions">Get directions <span class="nhsuk-u-font-size-16">(opens a new tab or window)</span></a></p>
            }
        </div>
    </div>
</div>
@{
    var mapService = JsonConvert.SerializeObject(new[] { Model.SelectedService });
}
<script>
    window.mapServices = @Html.Raw(mapService);
    window.mapServices[0].AddressLines = window.mapServices[0].AddressLines.filter(function (val) { return val !== "" })
    window.currentPostcode = "@Html.Raw(Model.CurrentPostcode)";
</script>
