﻿@using System.Web.Mvc.Html
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<ReferralConfirmationResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var tagPrinter = new AnalyticsTagPrinter();
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.AnalyticsDataLayer)
    </script>
}
@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirmation"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_SurveyLink", Model.ItkConfirmationModel.SurveyLink, dataDictionary)
    }
    else
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.ItkConfirmationModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Confirmation, Model.ItkConfirmationModel) })
    }
}

<div class="measure nhsuk-core">

  <h1 class="nhsuk-heading-xl">
    Your details have been sent
  </h1>

  <p>
    You will be contacted to arrange a swab test within 24 hours.
  </p>
  <p>
    Call 111 if you do not hear from the testing centre within 24 hours.
  </p>

  <details class="nhsuk-u-margin-bottom-6">
    <summary>
      <span class="details__arrow" role="presentation"></span>
      What happens during the test?
    </summary>
    <div>
      <p>
        A sample will be taken from your throat or nose using a cotton bud. It’s
        quick and painless. The sample is then sent to a lab for analysis.
      </p>
    </div>
  </details>

  <div class="callout callout--info callout--lite nhsuk-u-margin-bottom-6">
    <p>
      Make sure you keep yourself separate from others in your household (self-isolate)
      until you have been contacted by the testing service.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <h3 class="nhsuk-heading-m">What to do if you start to feel worse</h3>
  <p>
    Call 111 and tell them you are calling about coronavirus symptoms.
  </p>
  <p>
    The phone service will be very busy, but you <b>must</b> wait until you get through.
  </p>
  
  <div class="callout callout--attention nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-6">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital.
    </p>
  </div>

</div>
