@using NHS111.Models.Models.Web
@using NHS111.Web.Presentation.Analytics
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.ReferralFailureResultViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var tagPrinter = new AnalyticsTagPrinter();
}
@section Title {
    @Model.PageTitle
}
@section HeadTop {
    <script>
        @tagPrinter.Print(Model.AnalyticsDataLayer)
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "failure"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.OutcomeModel.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.OutcomeModel.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.BookingFailure, Model.OutcomeModel) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.OutcomeModel.SurveyLink, dataDictionary)
    }
}

<div class="measure nhsuk-core">
  <div class="callout callout--error">
    <h1 class="nhsuk-heading-l">
      There’s been a problem
    </h1>
    <p>
      Your details were not sent.
    </p>
    <p>
      <a href="javascript:window.history.back();">Go back and try again</a>
    </p>
  </div>
</div>

</div>
