@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<PersonalDetailViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Book your call
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/confirmdetails/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedServiceId), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': "Personal Details - Confirm Details"
            }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirm-details"));
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PersonalDetailsConfirmDetails, Model) })
}

<div class="nhsuk-core">
    <h1>Book your call</h1>


    @{
        var isProxy = Model.PatientInformantDetails.Informant == InformantType.ThirdParty;
        var isAtHome = Model.AddressInformation.HomeAddressSameAsCurrentWrapper.HomeAddressSameAsCurrent == HomeAddressSameAsCurrent.Yes;
    }
    @if (isProxy)
    {
        <div class="callout callout--info measure" id="confirm-details-third-party">
            <p>We'll call your number. @Model.PatientInformantDetails.PatientName.Forename might have to answer some questions during the call.</p>
        </div>
    }

    @if (!isProxy && isAtHome)
    {
        <div>Name @Model.PatientInformantDetails.SelfName.Forename @Model.PatientInformantDetails.SelfName.Surname</div>
        <div>Date of birth @Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</div>
        <div>Sex @Model.UserInfo.Demography.Gender</div>
        <div>Home Address @Html.Raw(string.Join("<br>", Model.AddressInformation.PatientHomeAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</div>
        <div>Number to call @Model.UserInfo.TelephoneNumber</div>
    }

    @if (!isProxy && !isAtHome)
    {
        <div>Name @Model.PatientInformantDetails.SelfName.Forename @Model.PatientInformantDetails.SelfName.Surname</div>
        <div>Date of birth @Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</div>
        <div>Sex @Model.UserInfo.Demography.Gender</div>
        <div>Home postcode @Model.UserInfo.HomeAddress.FormattedPostcode</div>
        <div>Location Address ?Html.Raw(string.Join("<br>", Model.AddressInformation.PatientCurrentAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</div>
        <div>Number to call @Model.UserInfo.TelephoneNumber</div>
    }

    @if (isProxy && isAtHome)
    {
        <div>Your name @Model.PatientInformantDetails.InformantName.Forename @Model.PatientInformantDetails.InformantName.Surname</div>
        <div>Number to call @Model.UserInfo.TelephoneNumber</div>

        <div>Who needs help @Model.PatientInformantDetails.PatientName.Forename @Model.PatientInformantDetails.PatientName.Surname</div>
        <div>Their date of birth @Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</div>
        <div>Their sex @Model.UserInfo.Demography.Gender</div>
        <div>Their home address @Html.Raw(string.Join("<br>", Model.AddressInformation.PatientHomeAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</div>
    }

    @if (isProxy && !isAtHome)
    {
        <div>Your name @Model.PatientInformantDetails.InformantName.Forename @Model.PatientInformantDetails.InformantName.Surname</div>
        <div>Number to call @Model.UserInfo.TelephoneNumber</div>

        <div>Who needs help @Model.PatientInformantDetails.PatientName.Forename @Model.PatientInformantDetails.PatientName.Surname</div>
        <div>Their date of birth @Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</div>
        <div>Their sex @Model.UserInfo.Demography.Gender</div>
        <div>Home postcode @Model.UserInfo.HomeAddress.FormattedPostcode</div>
        <div>Location address @Html.Raw(string.Join("<br>", Model.AddressInformation.PatientCurrentAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</div>
    }
</div>