@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<PersonalDetailViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Book your call
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/confirmdetails/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedServiceId), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': "Personal Details - Confirm Details"
            }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "confirm-details"));
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PersonalDetailsConfirmDetails, Model) })
}

<div class="nhsuk-core measure">
    <h1>Book your call</h1>

    @{
        var isProxy = Model.PatientInformantDetails.Informant == InformantType.ThirdParty;
        var isAtHome = Model.AddressInformation.HomeAddressSameAsCurrentWrapper.HomeAddressSameAsCurrent == HomeAddressSameAsCurrent.Yes;
    }

    @if (isProxy)
    {
        <div class="callout callout--info" id="confirm-details-third-party">
            <p>We'll call your number. @Model.PatientInformantDetails.PatientName.Forename might have to answer some questions during the call.</p>
        </div>
    }

    @* This uses the pattern for Check Answers from GDS https://design-system.service.gov.uk/patterns/check-answers/ *@

    @if (!isProxy && isAtHome)
    {
        <dl class="summary-list">
            <div>
                <dt>Name</dt>
                <dd>@Model.PatientInformantDetails.SelfName.Forename @Model.PatientInformantDetails.SelfName.Surname</dd>
            </div>

            <div>
                <dt>Date of birth</dt>
                <dd>@Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</dd>
            </div>

            <div>
                <dt>Sex</dt>
                <dd>@Model.UserInfo.Demography.Gender</dd>
            </div>

            <div>
                <dt>Home address</dt>
                <dd>@Html.Raw(string.Join("<br>", Model.AddressInformation.PatientHomeAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</dd>
            </div>

            <div>
                <dt>Number to call</dt>
                <dd>@Model.UserInfo.TelephoneNumber</dd>
            </div>

        </dl>
    }

    @if (!isProxy && !isAtHome)
    {
        <dl class="summary-list">
            <div>
                <dt>Name</dt>
                <dd>@Model.PatientInformantDetails.SelfName.Forename @Model.PatientInformantDetails.SelfName.Surname</dd>
            </div>

            <div>
                <dt>Date of birth</dt>
                <dd>@Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</dd>
            </div>

            <div>
                <dt>Sex</dt>
                <dd>@Model.UserInfo.Demography.Gender</dd>
            </div>

            <div>
                <dt>Home postcode</dt>
                <dd>@Model.UserInfo.HomeAddress.FormattedPostcode</dd>
            </div>

            <div>
                <dt>Location address</dt>
                <dd>@Html.Raw(string.Join("<br>", Model.AddressInformation.PatientCurrentAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</dd>
            </div>

            <div>
                <dt>Number to call</dt>
                <dd>@Model.UserInfo.TelephoneNumber</dd>
            </div>
        </dl>
    }

    @if (isProxy && isAtHome)
    {
        <dl class="summary-list">
            <div>
                <dt>Your name</dt>
                <dd>@Model.PatientInformantDetails.InformantName.Forename @Model.PatientInformantDetails.InformantName.Surname</dd>
            </div>

            <div>
                <dt>Number to call</dt>
                <dd>@Model.UserInfo.TelephoneNumber</dd>
            </div>
        </dl>

        <dl class="summary-list">
            <div>
                <dt>Who needs help</dt>
                <dd>@Model.PatientInformantDetails.PatientName.Forename @Model.PatientInformantDetails.PatientName.Surname</dd>
            </div>

            <div>
                <dt>Their date of birth</dt>
                <dd>@Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</dd>
            </div>

            <div>
                <dt>Their sex</dt>
                <dd>@Model.UserInfo.Demography.Gender</dd>
            </div>

            <div>
                <dt>Their home address</dt>
                <dd>@Html.Raw(string.Join("<br>", Model.AddressInformation.PatientHomeAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</dd>
            </div>
        </dl>
    }

    @if (isProxy && !isAtHome)
    {
        <dl class="summary-list">
            <div>
                <dt>Your name</dt>
                <dd>@Model.PatientInformantDetails.InformantName.Forename @Model.PatientInformantDetails.InformantName.Surname</dd>
            </div>

            <div>
                <dt>Number to call</dt>
                <dd>@Model.UserInfo.TelephoneNumber</dd>
            </div>
        </dl>


        <dl class="summary-list">
            <div>
                <dt>Who needs help</dt>
                <dd>@Model.PatientInformantDetails.PatientName.Forename @Model.PatientInformantDetails.PatientName.Surname</dd>
            </div>

            <div>
                <dt>Their date of birth</dt>
                <dd>@Model.UserInfo.DoB.GetValueOrDefault().ToString("d MMMM yyyy")</dd>
            </div>

            <div>
                <dt>Their sex</dt>
                <dd>@Model.UserInfo.Demography.Gender</dd>
            </div>

            <div>
                <dt>Home postcode</dt>
                <dd>@Model.UserInfo.HomeAddress.FormattedPostcode</dd>
            </div>

            <div>
                <dt>Location address</dt>
                <dd>@Html.Raw(string.Join("<br>", Model.AddressInformation.PatientCurrentAddress.FormattedAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries)))</dd>
            </div>
        </dl>
    }


    @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post, new { id = "changeDetailsForm" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model)
        @Html.HiddenFor(m => m.SelectedServiceId)

        <button id="change-details" class="button--link nhsuk-u-margin-top-7">Change these details</button>
    }


    @using (Html.BeginForm("Confirmation", "Outcome", FormMethod.Post, new { id = "submitDetailsForm" }))
    {
        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
        @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model)
        @Html.HiddenFor(m => m.SelectedServiceId)

        <button id="book-call" class="nhsuk-u-margin-top-5">Book call</button>
    }
</div>

@Html.Partial("_PageLoadingIndicator")

<script>
$(document).on('submit', '#submitDetailsForm', function () {
    startPageLoadingIndicator('Contacting your selected service...')
})
</script>