@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<PersonalDetailViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Select Current Address
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedServiceId), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Select Current Address'
            }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "current-address"));
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PersonalDetails, Model) })
}

@using (Html.BeginForm("SetCurrentAddress", "PersonalDetails", FormMethod.Post, new {id = "personalDetailForm"}))
{
    <div>
        @{
            var self = Model.PatientInformantDetails.Informant == InformantType.Self;
            var heading = self ? "Where are you right now?" : "Where are they right now?";
        }
        <h1 id="strap-line">@heading</h1>

        <p>If we know the address we can send help if we need to.</p>

        @foreach (var address in Model.AddressInformation.PatientCurrentAddress.AddressPicker)
        {
            <button name="addressChosen" type="submit" id="@address.Value" value="@address.Value" class="button--stacked button--previous button--link">@address.Text</button>
        }
        <hr />
        @{
            var submitButtonText = self ? "I'm not at any of these places" : "They're not at any of these places";
        }
            <button type="submit" id="AddresssNotListed">@submitButtonText</button>
    </div>
}