@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<PersonalDetailViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Change Current Address
}

@section HeadTop {
    @*{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/changecurrentaddress/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedService.Id.ToString()), Url.Encode(Model.SelectedService.Name)); }*@
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '',
                'virtualPageTitle': 'Personal Details - Change Current Address'
            }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "change-current-address"));
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PersonalDetailsChangeCurrentAddress, Model) })
}

@using (Html.BeginForm("SubmitChangeCurrentAddress", "PersonalDetails", FormMethod.Post))
{
    @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model);
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

    <div class="nhsuk-core">
        <h1 id="strap-line">Check address again</h1>
        <ul>
            <li>
                <button type="submit" name="changeCurrentAddress" id="changeCurrentPostcode" value="changeCurrentPostcode" class="button--link">Change the postcode and search again</button>
            </li>
            <li>
                <button type="submit" name="changeCurrentAddress" id="enterCurrentAddressManually" value="enterCurrentAddressManually" class="button--link">I'll type in a full address</button>
            </li>
            <li>
                <button type="submit" name="changeCurrentAddress" id="dontKnowCurrentAddress" value="dontKnowCurrentAddress" class="button--link">I don't know the address</button>
            </li>
        </ul>
    </div>
}