@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<PersonalDetailViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Change Current Postcode
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/changecurrentpostcode/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedService.Id.ToString()), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Personal Details - Change Current Postcode'
            }];
    </script>
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "change-current-postcode"));
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PersonalDetailsChangeCurrentPostcode, Model) })
}

@using (Html.BeginForm("ChangeCurrentAddressPostcode", "PersonalDetails", FormMethod.Post))
{
    @Html.Partial("_CommonHiddenFieldsPersonalDetails", Model)
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

    <div class="nhsuk-core">
        <div class="form-group">
            <label for="@Html.IdFor(m => m.AddressInformation.PatientCurrentAddress.Postcode)"><h1 id="strap-line">What's the postcode</h1></label>
            <p>Check the postcode and try again</p>
            @Html.ValidationMessageFor(m => m.AddressInformation.PatientCurrentAddress.Postcode)
            @Html.TextBoxFor(m => m.AddressInformation.PatientCurrentAddress.Postcode, new { @class = "form-textbox--postcode" })
        </div>

        <button type="submit" name="changeCurrentAddressPostcode" id="changeCurrentAddressPostcode">Next</button>
    </div>
}